*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
button{
    border : none;
    background: #fff;
}

.cart-layout {
    background-color: #fff;
    margin-bottom: 68px;
    padding-bottom: 160px;
}

.cart-layout .cart {
    padding-top: 40px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
}

.cart-layout .cart .cart-title {
    padding-bottom: 40px;
    font-size: 20px;
    color: #111;
}

.cart-layout .cart .column-list.column-list-header {
    height:35px;
    border-bottom: 1px solid #f1f1f1;
}

.cart-layout .cart .column-list.column-list-header .column{
    float: left;
    padding-bottom: 16px;
    font-size: 14px;
    color: #888;
    text-align: center;
}

.cart-layout .cart .column-list.column-list-header .column:first-child {
    width: 80px;
}

.el-checkbox {
    color: #606266;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    user-select: none;
}

.el-checkbox__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}

.el-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px;
}

.cart-layout .cart .column-list.column-list-header .column:nth-child(2) {
    width: 560px;
}

.cart-layout .cart .column-list .column:nth-child(3) {
    width: 128px;
}
.cart-layout .cart .column-list .column:nth-child(4) {
    width: 180px;
}
.cart-layout .cart .column-list .column:nth-child(5) {
    width: 108px;
}
.cart-layout .cart .column-list .column:nth-child(6) {
    width: 104px;
}

.cart-layout .cart .column-list.column-list-body {
    height:200px;
    border-bottom: 1px solid #f1f1f1;
    line-height: 1.5;
}
.cart-layout .cart .column-list.column-list-body .column {
    height:200px;
    float: left;
    font-size: 16px;
    color: #111;
    padding-top:80px;
}
.select-wrap{
    line-height: 200px;
}
.cart-layout .cart .column-list.column-list-body .column .p_img{
    float:left;
    width:150px;
}
 img{
    width:100%;
   
}
.product-info{
    height:150px;
    padding : 80px 0 0 100px;
    float:left;
}
/* .cart-layout .cart .product-wrap .logo{
    width: 160px;
    height:160px;
    float: left;
}
.cart-layout .cart .product-wrap .product-info{
    height: 200px;
    float: left;
}
.cart-layout .cart .product-wrap .name{
    height: 100px;
}
.cart-layout .cart .product-wrap .sku-list{
    height: 100px;
}
.cart-layout .cart .product-wrap .sku-list li{
    height: 100px;
} */
.cart-layout .cart .column-list .column:first-child {
    width: 40px;
}
.cart-layout .cart .column-list .column:nth-child(2) {
    width: 600px;
    padding : 0;
}
.cart-layout .cart .column-list .column:nth-child(3) {
    width: 128px;
}
.cart-layout .cart .column-list .column:nth-child(4) {
    width: 180px;
}
.cart-layout .cart .column-list .column:nth-child(5) {
    width: 108px;
}
.cart-layout .cart .column-list .column:nth-child(6) {
    width: 104px;
}

.el-input-number {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 38px;
    line-height: 38px;
}

.el-input-number .el-input-number__decrease {
    width: 32px;
    height: 30px;
    display: block;
    background-color: #f7f7f7;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #606266;
    border: 1px solid #888;
}

.el-input-number .el-input-number__increase {
    width: 32px;
    height: 30px;
    display: block;
    background-color: #f7f7f7;
    float : left;
    line-height: 30px;
    text-align: center;
    color: #606266;
    border: 1px solid #888;
}
.el-input {
    width:60px;
    font-size: 14px;
    display: block;
    height: 28px;
    float : left;
}

.cart-layout .cart .btn-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
    color: #6d6c6c;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    border : none;
}

.cart-layout .cart .btn-store {
    margin-top: 8px;
    width: 68px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border : none;
}

.cart-layout .cart .cart-footer {
    position: relative;
    margin-top: 24px;
    height: 40px;
}

.cart-layout .cart .cart-footer .checkbox {
    margin-right: 80px;
    margin-left: 10px;
}

.cart-layout .cart .cart-footer button {
    font-size: 14px;
    cursor: pointer;
    color: #111;
    margin-right: 30px;
}

.cart-layout .cart .cart-footer .account-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 225px;
    font-size: 12px;
    color: #333;
}

.cart-layout .cart .cart-footer .btn-account {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 172px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700!important;
    color: #fff;
    background: #111;
    border: none;
}