@charset "utf-8";
/* CSS Document */
body,p,td,th,fieldset,legend,option,textarea,button,hr,input,h1,h2,h3,h4,h5,h6,ol,ul,dd,dl{margin:0; padding:0} 
li{list-style:none;}
img{border:none;}
a{text-decoration:none; color:#666}
body{font-size:14px;}
h1,h2,h4,h3,h5,h6{font-weight:normal;}
i,em{font-style:normal}
input{outline: none}
body{font-family:"微软雅黑"; font-size:14px; color:#666}
html, body{background: #f2f2f2}
/* 万能清除法，针对ie8及以上的浏览器的高度塌陷*/
.clearfix:after{
	content: " ";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
/*ie7及以下的浏览器的高度塌陷*/
.clearfix{zoom:1;}