/* 导航栏  */
#nav_wrap{
    width: 100%;
    height: 56px;
    background-color:#ffe300;
}
nav{
    width: 1500px;
    margin:0 auto;
    height: 56px;
}
.logo{
    float:left;
    width: 120px;
    height: 20px;
    margin-top:18px;
}
.nav_right{
    float:right;
    height: 56px;
}
.nav_right>li{
    float:left;
    line-height:56px;
}
.nav_right>li>a{
    padding:0 24px;
    display:block;
    color:#282828;
}
.nav_right>.li_2>a:hover{
    color:#ffe300;
    background: #282828;
}
.nav_right>.na_2{
    position: relative;
}
.nav_right>.na_2:hover ul{
    display: block;
}
.nav_right>.na_2>ul{
    display: none;
    position: absolute;
    top:56px;
    left:0px;
    width:665px;
    height:160px;
    z-index: 3;
    background-color:#fff;
    text-align: center;
    border-radius:0 0 5px 5px ;
}
.nav_right>.na_2>ul>li{
    display: inline-block;
    width: 88px;
    height: 26px;
    position: relative;
}
.nav_right>.na_2>ul>p>a{
    font-size: 14px;
    color:#333;
    float:left;
    line-height: 42px;
    margin-right:36px;
}
.nav_right>.na_2>ul>p>a:hover{
    color:#ff4a3b;
}
.nav_right>.na_2>ul>p>.aa{
    margin-left:20px;
}
.nav_right>.na_2>ul>li>a{
    border-radius:5px;
    display:block;
    font-size: 14px;
    line-height: 28px;
    color:#333;
}
.nav_right>.na_2>ul>li>a:hover{
    background-color:#ffe300;
}
.nav_right>.na_2>ul>li>i{
    width: 1px;
    height: 18px;
    background: #bbb;
    position: absolute;
    top:5px;
    left:90px;
}
.nav_right>.na_3{
    position: relative;
}
.nav_right>.na_3:hover ul{
    display:block;
}
.nav_right>.na_3>ul{
    display: none;
    position: absolute;
    top:56px;
    left:0px;
    width:150px;
    z-index: 3;
    padding:6px 0;
    background-color:#fff;
    border-radius:0 0 5px 5px ;
}
.nav_right>.na_3>ul>li>a{
    display:block;
    line-height: 50px;
    font-size: 14px;
    color:#333;
    padding-left:26px;
}
.nav_right>.na_3>ul>li>a:hover{
    background-color:#ffe300; 
}
.nav_right>.first{
   font-weight: bold;
}
.nav_right>.li_6{
    position: relative;
}
.nav_right>.li_6 a{
    padding:0 42px 0 24px;
}
.nav_right>.li_6 span{
    display: inline-block;
    font-size:12px;
    color:#fff;
    line-height: 18px;
    height:18px;
    background: #ff4a3b;
    position: absolute;
    padding:1px 3px;
    top:5px;
    right:10px;
}
.nav_right>.li_6 span::before{
    content: "";
    display: inline-block;
    border-left:5px solid #ff4a3b;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
    position: absolute;
    top:15px;
    left:0px;
}
.nav_right>.li_8 span{
    position: relative;
    display: block;
    padding:0 20px;
 }
.nav_right>.li_8 a{
    display: block;
    width: 20px;
    height: 56px;
    padding:0;
    background-size:20px auto; 
    background:url(https://static.zcool.cn/git_z/build/images/svg/nav-more.svg) no-repeat left center;
 }
 .nav_right>.li_8 sup{
    display:inline-block;
    width: 8px;
    height: 8px;
    border-radius:50%;
    background-color:#ff4a3b;
    position: absolute;
    top:20px;
    right:8px;
  }
.nav_right>.li_9{
    width: 60px;
    height: 56px;
    text-align: center;
    cursor: pointer;
 }
 .nav_right>.li_9 a{
    margin-top: 16px;
    display:inline-block;
    width: 20px;
    height: 20px;
    background:url(https://static.zcool.cn/git_z/build/images/svg/nav-search.svg?v=1) no-repeat center;  
 }
 .nav_right>.li_9 .aa{
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/nav-upload.svg);  
 }
 .nav_right>.last{
    width: 80px;
    height: 56px;
    text-align: center;
    cursor: pointer;
 }
 .nav_right>.last i{
    display:inline-block;
    width: 2px;
    height: 12px;
    background: #333;
    margin-left: 20px;
 }
 .nav_right>.last a{
    padding:0px;
    margin-left: 20px;
 }

 /* 轮播图 */
 #banner{
    width: 1150px;
    height: 286px;
    margin: 20px auto;
    position: relative;
 }
 #banner img{
    border-radius:5px;
 }
 #banner:hover a{
    display: block;
 }
 #banner a{
     width: 52px;
     height: 52px;
     background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2) no-repeat left center;
     position: absolute;
     top:110px;
     left:30px;
     display:none;
 }
 #banner .right{
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
    position: absolute;
    left:1060px;
}

  /* 广告位 */
  #ad{
    width: 1150px;
    height: 168px;
    margin:0 auto;
 }
 #ad ul{
    width: 1150px;
    height: 168px;
 }
 #ad ul li{
    width: 210px;
    height: 168px;
    float:left;
    margin-right: 25px;
 }
 #ad ul li img{
    width: 210px;
    height: 168px;
    border-radius:5px;
 }
 #ad ul .last_li{
    margin-right:0;
 }

 /* 主题栏 */
 #main{
    width: 100%;
    height:56px;
    background-color: #fff; 
    margin-top: 70px;
    text-align:center;
    position: sticky;
    top:0px;
    z-index:9;
 }
 #main p{
    display:inline-block;
    width: 120px;
    height:56px;
    font-size:16px;
 }
 #main a{
    display:block;
    width: 80px;
    height:56px;
    line-height: 56px;
    color:#999;
    margin-left:20px;
 }
 #main a:hover{
    border-bottom:2px solid #333;
    color:#282828;
 }
 #main .p_1 a{
    border-bottom:2px solid #333;
    color:#282828;
 }

 /* 产品项目 */
 #case{
    width: 100%;
    background-color: #f0f0f0; 
    overflow: hidden;
 }
 .case{
    width: 1150px; 
    margin:20px auto;
 }
.case dl{
    width: 210px;
    background-color: #fff; 
    border-radius:5px;
    float:left;
    margin:0 25px 20px 0;
}
.case dl dt img{
    width: 210px;
    height: 158px;
    border-radius:5px 5px 0 0;
    border:none;
}
.case dl dd h4{
    width: 178px;
    height: 20px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 15px;
    margin:10px 0 0 20px;
}
.case dl dd h4 a{
    display:block;
    color:#333;
}
.case dl dd h5{
    width: 178px;
    height: 18px;
    font-size: 12px;
    line-height: 12px;
    margin:0 0 10px 20px;
    color:#bbb;
}
.case dl dd h6{
    width: calc(100% - 20px);
    height: 26px;
    font-size: 10px;
    line-height: 10px;
    padding-left: 20px;
    color:#bbb;
    border-bottom:1px solid #eee;
}
.case dl dd h6 span{
    float:left;
    width: 56px;
    height: 16px;
}
.case dl dd h6 span::before{
    content:"";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-right: 5px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/card-liulan.svg?v=1) 0 0 no-repeat;
}
.case dl dd h6 .span_2::before{
    margin-right: 3px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/card-pinglun.svg?v=1) 0 0 no-repeat;
}
.case dl dd h6 .span_3::before{
    margin-top:-2px;
   margin-right: 3px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/card-zan.svg?v=1) 0 0 no-repeat;
}
.case dl dd p{
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
}
.case dl dd p img{
    float:left;
    height: 24px;
    width: 24px;
    border-radius:50%;
    margin-top: 13px;
    margin-right: 10px;
}
.case dl dd p em{
    float:left;
    font-size: 13px;
    color:#333;
}
.case dl dd p b{
    float:right;
    font-size: 11px;
    color:#bbb;
    margin-right:10px;
 }
 .case .li_list{
    margin-right:0;
 }

 /* 二级导航 */
.nav_2{
    clear:both;
    width: 1150px;
    height: 38px;
    margin: 20px auto 50px auto;
    text-align: center;
}
.nav_2 li{
    display: inline-block;
    line-height: 38px;
}
.nav_2 .first_li a{
    color: #333;
    background: #ffe300;
}
.nav_2 .more a:hover{
    color: #999;
    background: #fff;
}
.nav_2 li a{
    font-size:14px;
    display: block;
    width: 40px;
    line-height: 39px;
    color: #999;
    background: #fff;
    border-radius: 5px;
}
.nav_2 li a:hover{
    color: #333;
    background: #ffe300;
}

/* 项目 */
.project{
    width: 1150px;
    height: 100px;
    margin: 0 auto;
}
.project img{
    width: 1150px;
    height: 100px;
    border-radius:5px;
}

/* 猜你喜欢 */
.love{
    width: 1150px;
    height: 260px;
    margin: 35px auto;
    overflow: hidden;
}
.love h5{
    height: 15px;
    margin: 20px 0;
    font-size:15px;
    line-height: 15px;
    color: #666;
}
.love h5 a{
    float:right;
    font-size:12px;
    color: #ff4a3b;
}
.love dl{
    width: 210px;
    float: left;
    background-color: #fff;
    margin: 0 25px 20px 0;
    border-radius: 3px;
}
.love .last_dl{
    margin-right:0;
}
.love dt img{
    width: 210px;
    height: 158px;
    border-radius: 3px 3px 0 0;
}
.love dd{
    width:180px;
    padding-left:18px;
    font-size:12px;
    line-height: 36px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
}
.love dd span{
    position: absolute;
    right:-3px;
    top:8px;
    width: 16px;
    height: 16px;
    background:url(https://static.zcool.cn/git_z/build/images/svg/putongtuijian.svg?v=1) no-repeat center;
    display: inline-block;
}
.love dd a{
    color: #333;
}
.love dd a:hover{
    color:red;
}

/* 网页底部 */
#footer{
    width:100%;
    height:231px;
    background:#282828;
}
.footer{
    width:1150px;
    height:230px;
    margin:0 auto;
}
.footer_top{
    width: 100%;
    height: 130px;
    line-height: 130px;
    border-bottom: 1px solid #333;
}
.footer_top li{
    float:left;
    margin-right: 30px;
}
.footer_top a{
    color:#666;
}
.footer_top a:hover{
    color:#bbb;
}
.footer_top .first_li::before{
    content:"";
    display:inline-block;
    width:14px;
    height:23px;
    background:url(https://static.zcool.cn/git_z/build/images/svg/footer-mobile.svg?v=1) no-repeat center;
    vertical-align: middle;
    margin-right:8px;
    margin-top:-2px;
}
.footer_top p{
    width: 130px;
    height: 130px;
    float:right;
}
.footer_top>p>a{
    width: 25px;
    height: 21px;
    float:left;
    margin: 50px 30px 0px 10px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/footer-share-weixin.svg?v=1) no-repeat left top;
}
.footer_top>p>.aa{
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/footer-share-weibo.svg?v=1);
}
.footer_top>p>a:hover{
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/footer-share-weixinhover.svg?v=1);
}
.footer_top>p>.aa:hover{
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/footer-share-weibohover.svg?v=1);
}
.footer_bottom{
    width: 100%;
    height: 90px;
    padding-top:10px;
}
.footer_bottom p{
    height: 38px;
    width: 100%;
}
.footer_bottom p a{
    color:#666;
    font-size:12px;
    line-height: 38px;
}
.footer_bottom p a:hover{
    color:#bbb;
}
.footer_bottom p i{
   display: inline-block;
   width:1px;
   height:15px;
   background:#666;
   margin:0 16px;
   vertical-align: middle;
}

