@charset "utf-8";

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,figure,figcaption,nav,header,footer,dl,dt,dd,section,aside{
	margin:0;
	padding:0;
	font-family:"ping fang", "微软雅黑", Helvetica, sans-serif;
}

@font-face {
	font-family: "ping fang";
	scr: url(../font/PingFang-SC-Regular.otf);
}

ul,ol,li{
	list-style:none;
}

b,strong{
	font-weight:normal;
}

i,em{
	font-style:normal;
}

img{
	display: block;
	border: 0;
	vertical-align: middle;
}

u,a{
	text-decoration: none;
	color: inherit;
}

h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:normal;
}

input{
	border:0;
	outline:none;
}


/*清浮动专用*/
.clear:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}