<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>
<script type="text/html" id="template">
    <% for(var attr in data){ %>
    <h2>hello world <%= data[attr].a%></h2>
    <% } %>
</script>

<script>
    var cont = document.getElementById("template").innerHTML;
    // console.log(cont);
    ; + function () {
        function my_template(cont, date) {
            //js匹配正则
           var regJS = /<%[^=](.*?)%>/g;
            // 变量 匹配正则
            var regVal = /<%[=](.*?)%>/g;
         
            //html匹配
          var res = cont.replace(regJS,` );$1 `)
            //变量匹配



            res = res.replace(regJS, `  \`);print(data[attr].a);print(\` `)
            console.log(res);

            //拼接字符串
            var html = "";

            // print就是拼接字符串的方法;
            function print(str) {

                // str = str.trim();
                html += str;

            }
            console.log(html);
            console.log(eval(res))
            document.body.innerHTML = html;

        }
        window.my_template = my_template;
    }()
    var  data = [
        {a:5},
        {a:4},
        {a:3},
        {a:2},
    ]
    var html = my_template(document.getElementById("template").innerHTML,data);
</script>

</html>