*{
      margin: 0;
      padding: 0;
}
body,html{
      width: 100%;
      height: 100%;
      overflow: hidden;
}
.main{
      height: 100%;
      width: 460px;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-d50913d7a567d328.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      background-size: 100% 100%;
      background-repeat:repeat-y;
      background-position-y: 0;
      margin: 0 auto;
}
.options{
      width: 460px;
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: -230px;
      top: 0;
      padding-top: 10%;
}
.options p{
      width: 40%;
      height: 80px;
      font-size: 20px;
      background-color: antiquewhite;
      text-align: center;
      line-height: 80px;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px #000;
      cursor: pointer;
}
.plane{
      width: 98px;
      height: 122px;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-ac385ef9ee9873d9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      background-position: center;
      background-size: 100%;
      position: absolute;
      bottom: 0;
}
.bullet{
      width: 7px;
      height: 18px;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-bef9a00540cc0e2b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      background-position: center;
      background-size: 100%;
      position: absolute;
      left: 30px;
      bottom: -18px;
}
.bullet.die{
      width: 41px;
      height: 43px;
      background-repeat: no-repeat;
      animation: bullet-die .5s linear infinite;
      margin-left: -17px;
}

@keyframes bullet-die{
      0%{
           
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-1cda7537bc4181c1.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      100%{
           
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-2c547e9d721f5db9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
}

.enemy-small{
      width: 59px;
      height: 36px;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-2b18abaf46cc94ee.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      background-position: center;
      background-size: 100%;
      position: absolute;
}
.enemy-small.die{
      animation: small-die 1s linear infinite;
}
@keyframes small-die{
      0%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-89e8ae5a7650c508.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      50%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-c17d9c2a36d864c5.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      100%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-9c5e4b3894ed5dde.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
}
.enemy-middle{
      width: 70px;
      height: 92px;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-2eafbd1df58fdfe0.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      background-position: center;
      background-size: 100%;
      position: absolute;
}
.enemy-middle.die{
      animation: middle-die 1s linear infinite;
}
@keyframes middle-die{
      0%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-7a040b9652053ac5.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      33%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-7f14fb5b09660fe3.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      66%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-364ccdb4345da881.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      100%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-4033e9076cb0bafe.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
}
.enemy-large{
      width: 165px;
      height: 256px;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-b746d99f899b6dc9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      background-position: center;
      background-size: 100%;
      position: absolute;
  
}
.enemy-large.die{
      animation: large-die 1s linear infinite;
}
@keyframes large-die{
      0%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-3664a35b1a9a5b11.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      20%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-6f50d41fb496f51f.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      40%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-2a8018c37f5e65fb.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      60%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-a67a38a9730e4a27.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      80%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-8e0cf827f0669787.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
      100%{
            background-image: url(https://upload-images.jianshu.io/upload_images/18462345-6d6190ff80670947.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      }
}
.logo{
      width: 428px;
      height: 114px;
      position: absolute;
      top: 15%;
      margin-left: -214px;
      left: 50%;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-9be317898b8f688b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
}
.plane-loading{
      width: 192px;
      height: 41px;
      position: absolute;
      top: 50%;
      margin-left: -96px;
      left: 50%;
      background-image: url(https://upload-images.jianshu.io/upload_images/18462345-d12f740fa7fa8df4.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
      animation: loading 1.5s linear infinite;
}
@keyframes loading{
	0%{
		background-image: url(https://upload-images.jianshu.io/upload_images/18462345-d12f740fa7fa8df4.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
	}
	50%{
		background-image: url(https://upload-images.jianshu.io/upload_images/18462345-1b71f41a91133ac7.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
	}
	100%{
		background-image: url(https://upload-images.jianshu.io/upload_images/18462345-b1f9332c9e2284c8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
	}
}