*{
    margin: 0;
    padding: 0;
    border-radius: 4px;
}
/* -----------------简易日历------------------ */
#dateList{
    width: 285px;
    height: 400px;
    border: 2px solid #444;
    margin: 50px auto;
    background-color: #fdd;
}
#box{
    list-style: none;
}
ul li{
    width: 70px;
    height: 60px;
    float: left;
    border: 2px solid #282828;
    margin:10px;
    text-align: center;
    background-color: #fe7;
}
#doList{
    clear: both;
    font-size: 14px;
    color: #282828;
    margin: 10px;
    height: 50px;
    border: 1px solid #333;
    background-color: #CBE5E4;
    
}
.active{
    background-color: #225;
    color: #ffe;
}
/* -------------进度条---------------- */
#pro_bar{
    width: 500px;
    height: 15px;
    border-radius: 4px;
    box-shadow: 0 0 4px #aaa;
    margin: 100px auto;
}
#progress{
    width: 50%;
    height: 15px;
    background: linear-gradient(to right, #BEA5A5,#381313);
    border-radius: 4px;
}

/* --------------换肤按钮------------- */
.skin{
    width: 200px;
    height: 50px;
    margin: 10px auto;
}
.skin button{
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fdd;
    border: 0;
    border-radius: 4px;
}