
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}
.bg{
    width: 30%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y;
}
.hardLevel{
    width: 16%;
    font-size: 20px;
    line-height: 50px;
    position: absolute;
    left: 42%;
    top: 40%;
    text-align: center;
}
.hardLevel p{
    background-color: #fcc;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
.logo{
    width: 428px;
    height: 104px;
    position: absolute;
    left: 50%;
    top: 10%;
    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    margin-left: -214px;
}
.loading{
    width: 192px;
    height: 41px;
    background-image: url(../images/loading1.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -96px;
}
.myplane{
    width: 98px;
    height: 122px;
    background-image: url(../images/me.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
}
.small{
    width: 59px;
    height: 36px;
    position: absolute;
    background-image: url(../images/plain1.png);
    background-repeat: no-repeat;
}
.small.die{
    animation: small-die 1s linear;
}
@keyframes small-die{
    0%{
        background-image: url(../images/plain1_die1.png);
    }
    50%{
        background-image: url(../images/plain1_die2.png);
    }
    100%{
        background-image: url(../images/plain1_die3.png);
    }
}
.middle{
    width: 70px;
    height: 92px;
    position: absolute;
    background-image: url(../images/plain2.png);
    background-repeat: no-repeat;
}
.middle.die{
    animation: middle-die 1s linear;
}
@keyframes middle-die{
    0%{
        background-image: url(../images/plain2_die1.png);
    }
    33%{
        background-image: url(../images/plain2_die2.png);
    }
    66%{
        background-image: url(../images/plain2_die3.png);
    }
    100%{
        background-image: url(../images/plain2_die4.png);
    }
}
.large{
    width: 165px;
    height: 256px;
    position: absolute;
    background-image: url(../images/plain3.png);
    background-repeat: no-repeat;
}
.large.die{
    animation: large-die 1s linear;
}
@keyframes large-die{
    0%{
        background-image: url(../images/plain3_die1.png);
    }
    25%{
        background-image: url(../images/plain3_die2.png);
    }
    50%{
        background-image: url(../images/plain3_die3.png);
    }
    75%{
        background-image: url(../images/plain3_die4.png);
    }
    100%{
        background-image: url(../images/plain3_die5.png);
    }
}
.bullet{
    width: 7px;
    height: 18px;
    position: absolute;
    background-image: url(../images/bullet.png);
    background-repeat: no-repeat;
}
.bullet.die{
    width: 41px;
    height: 43px;
    background-repeat: no-repeat;
    animation:bullet-die 1s linear;
    margin-left: -17px;
}
@keyframes bullet-die{
    0%{
        background-image: url(../images/die1.png);
    }
    100%{
        background-image: url(../images/die2.png);
    }
}