.w1130{width:1130px;margin:0 auto;}


.header{background: #ffe300;}
.header .w{height:56px;width:1367px;margin:0 auto;position: relative;}
.header .w h1{width:113px;height:20px;margin-top:18px;float: left;}
.header .w .nav{float: left;margin-left: 156px;}
.header .w .nav>li{float:left;width:76px;height:56px;line-height: 56px;text-align: center;}
.header .w .nav>li a{display: block;height: 56px;width: 76px;}
.header .w .nav>li:hover .find{display: block;}
.header .w .nav .ll:hover ul{display: block;}
.header .w dl dt:hover ul{display: block;}
.header .w .nav>li:hover>a{background:black;color:#ffe300;}
.header .w .nav>li.dis{width: 122px;height: 56px;position: relative;}
.header .w .nav>li.dis a{width: 122px;}
.header .w .nav>li.dis div{width:30px;height:18px;line-height:18px;position:absolute;top:6px;left:89px;
    background: #ea4235;text-align: center;}
.header .w .nav>li.dis div::after{content: "";width:0px;height:0px;position:absolute;top:14px;left:0px;
    border-left:4px solid #ea4235;border-top:4px solid  transparent;
    border-bottom:4px solid  transparent;}
.header .w dl{float:left;width:380px;}
.header .w dt{float: left;width:60px;height:56px;}
.header .w dt span{display: block;width:20px;height:56px; 
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-more.svg)
    no-repeat center  center;margin:0  auto;position: relative;}
.header .w dl dt span .di{position:relative;height: 1px;top: 0px;left: 0px; }
.header .w dl dt span .di li.disc{list-style-type: disc;color:#ea4235;position:absolute;top: 9px;left:45px;
    font-size: 20px;}
.header .w dt:hover{background-color: black;color:#ffe300;}
.header .w dt:hover span{background: url(https://static.zcool.cn/git_z/build/images/svg/nav-more-hover.svg)
    no-repeat center  center;}
.header .w dd {float: right;width:60px;height:56px;}
.header .w dd span{display: block;width:20px;height:56px; margin:0  auto;}
.header .w dd.d1 span{background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search.svg?v=1)
    no-repeat center  center;} 
.header .w dd.d2 span{background: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload.svg)
    no-repeat center  center;} 
.header .w dd:hover{background-color: black;color:#ffe300;}
.header .w dd.d1:hover span{background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search-hover.svg?v=1)
    no-repeat center  center;}
.header .w dd.d2:hover span{background: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload-hover.svg)
    no-repeat center  center;}
.header .w .login{float: left;}
.header .w .login li{float: left;width:70px;height:56px;line-height:56px;text-align: center;}
.header .w .login li a{width:62px;height: 56px;display: block;}
.header .w .login li a i{border-right:1px solid black;margin-left: 30px;}
/*导航滑动下拉导航*/
.header .w .nav .discover .find{position:absolute;top:56px ;left: 345px;background: #fff;
    width:664px;z-index: 5;display: none;}
.header .w .nav .discover .find .ul1{border-bottom: 1px solid #f4f4f4;overflow: hidden;
    padding:11px 17px 17px 17px;}
.header .w .nav .discover .find  .ul1 li{float: left;width: 89px;height: 28px;font-size: 12px;line-height: 28px;
    }
    .header .w .nav .discover .find  .ul1 li a{height: 28px;color: black;border-radius: 8px;text-align: center;}
.header .w .nav .discover .find  .ul1 li:hover a{background:#ffe300 ;}
.header .w .nav .discover .find .ul2{height:51px;width:664;float: left;margin-left: 20px; }
.header .w .nav .discover .find .ul2 li{float: left;height: 51px;} 
.header .w .nav .discover .find .ul2 li a{height: 12px;display: inline-block;float: left;font-size: 12px;line-height: 12px;
    width:80px;background: url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou.svg) no-repeat 67px 0px;
    margin: 19px 0 0 10px;    }
.header .w .nav .discover .find .ul2 li:hover a{color: #cb6c1b;
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou2.svg);}
.header .w .nav .discover .find .ul1 li i{float:right;height: 12px;width: 5px;
    border-right: 1px solid black;margin-top: 8px ;}
/*职位下拉导航*/

.header .w .nav .ll  ul,.header .w dl dt>ul{width:152px;background: #fff;padding:6px  0;display: none;
   z-index: 3;}
.header .w .nav .ll  ul li,.header .w dl dt>ul>li{height: 44px;width:132px;text-align: left;padding-left: 20px;line-height: 44px;}
.header .w .nav .ll  ul li a,.header .w dl dt ul li a{height:44px;width:152px;}
.header .w .nav .position ul{  position:absolute;top:56px;left: 497px;}
.header .w .nav .activity ul{  position:absolute;top:56px;left: 573px;}
.header .w .nav .dis ul{  position:absolute;top:56px;left: 0px;}
.header .w .nav>li.dis  ul li div{width:60px;position:absolute; top: 10px; left:48px ;}
.header .w .nav .course ul{  position:absolute;top:56px;left: 771px;}
.header .w  dl dt ul{  position:absolute;top:56px;left: 847px;}
.header .w .nav .ll  ul li:hover{background: #ffe300;}
.header .w dl dt  ul li:hover{background: #ffe300;}
/*.header .w dl dt>ul li.disc1{position:relative;}
.header .w dl dt>ul li.disc1 ul li{list-style-type: disc;color:#ea4235;
    line-height:1em;position:relative ;top:0px;left:0px ;}*/

/*banner*/
.banner{margin-top: 20px;}
.banner .w1130{height:286px;background: yellow;position: relative;}
.banner  .w1130 img{width: 1130px;height:286px;}
.banner  .w1130 .click{position:absolute;top:117px ;width:1130px;height:52px;}
.banner  .w1130 .click a{display: block;height: 52px;width:52px;}
.banner  .w1130 .click .b-left{float: left;background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2) 
    no-repeat}
.banner  .w1130 .click .b-left:hover{background:url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrowhover.svg?v=2)
    no-repeat;}
.banner  .w1130 .click .b-right{float:right;background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2)
    no-repeat;}
    .banner  .w1130 .click .b-right:hover{background:url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrowhover.svg?v=2) 
    no-repeat;}
/*  poster*/
.poster{background: #fff;}
.poster .w1130{height: 168px;padding-top:20px;}
.poster .w1130 ul{float:left;}
.poster .w1130 ul li{float:left;width: 210px;height: 168px;margin-right: 20px;}
.poster .w1130 ul li  img{width: 210px;height: 168px;border-radius:4px;}
.poster .w1130 ul li.last{margin-right: 0px;}
/*Recommend*/
.recommend{background: #fff;}  
.recommend .w1130{padding-top:60px;height:58px;}
.recommend .w1130>ul{margin: 0 auto;width:372px;}
.recommend .w1130>ul>li{width:64px;height: 56px;padding:0 30px;float: left;}
.recommend .w1130>ul>li>a{font-size: 16px;line-height: 56px;display: block;}
.recommend .w1130>ul>li>.a0{border-bottom:2px  solid black;}
.recommend .w1130>ul>li> .a1,.a2{color: #999;}
.recommend .w1130>ul>li:hover  a{border-bottom:2px  solid black;color:black;}
/*热搜*/
.hot {background: #f4f4f4;}
.hot .w1130 {height: 2624px;border-top: 1px solid #f4f4f4 ;}

.hot .w1130 ul li{width: 210px;height:308px;background: #fff;margin:20px 20px 0 0;position:relative;float: left;}
.hot .w1130 ul li.f-5{margin-right:0px;}
.hot .w1130 ul li img{width:210px;}
.hot .w1130 ul li>dl{padding: 16px  0 16px 16px;width:194px;border-bottom: 1px  solid #bbbbbb;}
.hot .w1130 ul li dt{width:185px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.hot .w1130 ul li dt a{font-size: 14px;line-height: 1em;}
.hot .w1130 ul li dt:hover a{color: #ea4235;}
.hot .w1130 ul li .h-d1{font-size: 12px;line-height: 1em;color:#bbbbbb ;margin: 6px  0 19px 0 ;}
.hot .w1130 ul li .h-d2{color: #bbbbbb;width:180px;}
.hd-s1,.hd-s2,.hd-s3{padding: 0  10px 0 19px;}
.hot .w1130 ul li .h-d2 .hd-s1{background: url(https://static.zcool.cn/git_z/build/images/svg/card-liulan.svg?v=1) no-repeat 0px 2px;}
.hot .w1130 ul li .h-d2 .hd-s2{background: url(https://static.zcool.cn/git_z/build/images/svg/card-pinglun.svg?v=1) no-repeat 0px 2px;}
.hot .w1130 ul li .h-d2 .hd-s3{background: url(https://static.zcool.cn/git_z/build/images/svg/card-zan.svg?v=1) no-repeat 0px 2px;}
.hot .w1130 ul li .hd-foot {height: 43px;}
.hot .w1130 ul li .hd-foot dt{float: left;width:112px;height: 50px;}
.hot .w1130 ul li .hd-foot dl dt a{width:112px;display: block;line-height:50px;}
.hot .w1130 ul li .hd-foot dt img{width: 30px;height: 30px;border-radius: 20px;
    float: left;margin:9px 6px  0  6px;}
.hot .w1130 ul li .hd-foot dl dt .eject{background: #fff;width:210px;height:283px;
    position:absolute; top:-20px;left:0px;display:none;z-index: 2;box-shadow: 0 0 15px #ddd;border-radius: 7px;} 
.hot .w1130 ul li .hd-foot dl dt .eject::after{content: "";  width: 0px;height:0px;border-top:8px solid #fff;
    border-left:8px solid transparent;border-right:8px solid transparent;position: absolute;top:280px ;left:14px ;z-index: 4;}
.hot .w1130 ul li .hd-foot dl dt:hover .eject{display: block;}
.hot .w1130 ul li .hd-foot dl dt .eject>a{margin: 0 auto;}
.hot .w1130 ul li .hd-foot dl dt .eject img{width: 100px;height: 100px;border-radius: 50px;float: none;margin-top: 20px;;}
.hot .w1130 ul li .hd-foot dl  .eject .p1 a{width: 100px;font-size: 18px;margin: 0 auto;font-weight: bold;line-height: 22px;height: 22px;}
.hot .w1130 ul li .hd-foot dl dt .eject .p2 {margin: 0 auto;width: 100px;height: 18px;color: #bbbbbb;line-height: 18px;}
.hot .w1130 ul li .hd-foot dl dt .eject ul{margin: 0  auto;width: 180px;}
.hot .w1130 ul li .hd-foot dl dt .eject li{width:80px;height:30px;float:left;text-align: center;margin: 15px 0  0  7px ;}
.hot .w1130 ul li .hd-foot dl dt .eject .zan{height: 35px;}
.hot .w1130 ul li .hd-foot dl dt .eject .zan a{width: 80px;line-height: 14px; font-size: 12px;}
.hot .w1130 ul li .hd-foot dl dt .eject .zan1{border-right: 1px solid black;}
.hot .w1130 ul li .hd-foot dl dt .eject .follow{}
.hot .w1130 ul li .hd-foot dl dt .eject .follow  input{width: 80px;height: 30px;border: 0;cursor: pointer;
 text-align: center; line-height: 30px;background: #fff;border: 1px solid  #bbbbbb;border-radius: 5px;}
 .hot .w1130 ul li .hd-foot dl dt .eject .foll input{background: #ffe300;  border-color: #ffe300;}

.hot .w1130 ul li .hd-foot dd{float: right;height: 50px;line-height:50px;margin-right:10px;}






