<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <div class="container">
        <p class="title"></p>
        <div class="wrapper">
            <div class="image-list"></div>
        </div>
        <div class="pagination"></div>
    </div>
    <script type="text/html" id="template">
        <% for(var i = 0 , item = data[i]; i++) {%>
            <div class="box">
                <div class="box-img">
                    <img src="<%= item.cover %>" alt="">
                </div>
                <div class="box-title">
                    <a href="">
                        <%= item.title %>
                    </a>
                    <span class="fire"></span>
                </div>
            </div>
       <% } %>
    </script>
    <script src="../../libs/utils.js"></script>
    <script src="./javascript/index.js"></script>
    <script>
        new Pagination().init({
            list : ".image-list",
            page : ".pagination",
            getData : {
                url : "http://10.9.10.126/zc",
                data : {
                    pageSize : 20,
                    contentId: ("" +Date.now()).slice(6) + "_3",
                    day : new Date().toISOString().slice(0,10)
                }
            },
            pageNo : 1,
            showNo : 5,
            template : $("#template").innerHTML
        });
    </script>
</body>
</html>