* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 12px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.w {
    width: 1190px;
    margin: 0 auto;
}
#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}
.fl {
    float: left;
}
#shortcut li {
    float: left;
}
#mycity {
    margin-left: 200px;
}
#shortcut .cw_icon {
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    border: 1px solid #e3e4e5;
}
.fr {
    float: right;
}
#shortcut a {
    color: #999;
}