.wrapper{
    width:1020px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.box{
    float: left;
    width: 233px;
    height: auto;
    margin: 0 20px 20px 0;
    border-top: 0 none;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
}
.box-img img{
    width: 233px;
    display: block;
    border-bottom: 1px solid #ccc;

    
}
.box-title{
    padding: 0 14px;
    clear: both;
    margin: 0;
    font-size: 18px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all
}