.safe{
    width: 1190px;
    margin: 0 auto;
}
.header{
    width:100%;
    height:30px;
    background:#e3e4e5;
    line-height: 30px;
    color: #999;
    font-size: 12px;
    /* position: relative; */
}
.header .safe{
    height: 30px;
}
.header-left{
    width: 258px;
    float: left;
}
.heaer-left-position{
    width: 50px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e3e4e5;
    padding: 0 7px;
    float:right;
    position: relative;
}
.heaer-left-position:hover{
    background: #fff;
    border: 1px solid #999;
    border-bottom: none;
}
.heaer-left-position:hover .city{
    display: block;
}
.city{
    width: 320px;
    border:1px solid #ccc;
    position: absolute;
    left: -2px;
    padding: 10px;
}
.city a{
    color: #999;
}
.city-top{
    height: 216px;
    padding:10px;
    /* border-bottom: 1px solid #eee; */
}
.city-top li{
    width: 60px;
    padding: 2px 0;
    float: left;
}
.city-top li a{
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding:2px 8px;
}
.city-top li:hover a{
    background: #eee;
    color: red;
}
.city-middle{
    margin: 10px 0 10px 10px;
    border-top: dotted 1px #eee;
}
.city p{
    margin: 9px 0;
}
.city-middle li{
    width: 145px;
    height: 26px;
    line-height: 26px;
}
.city-middle li:hover a {
    color: red;
}
.header-left-position-logo{
    width: 15px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 4px; */
    background: url(https://upload-images.jianshu.io/upload_images/18473112-83a1965a547d82fa.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat left 5px;
    background-size: 16px 16px;
}
.header-right{
    float: right;
}
.header-right li{
    float: left;
}
.header-right li a{
    color:#999;
    padding: 0 7px;
}
.hidden{
    display: none;
    position: absolute;
    top: 29px;
    border: 1px solid #999;
    z-index: 5;
}
.header-right li a:hover{
    color:red;
}
.login-register{
    margin-right: 8px;
}
.spacer{
    width: 1px;
    background: #ccc;
    margin: 11px 5px;
    height: 10px;
}
.arrow{
    position: relative;
    border:1px solid rgba(0, 0, 0, 0);
    /* overflow:hidden; */
}
.arrow:hover{
    background: #fff;
    border: 1px solid #999;
    border-bottom: none;
    z-index: 10;
}
.arrow:hover .hidden{
    display:block;
    z-index: 1;
}
.header .safe .arrow>a{
    padding: 0 17px 0 7px;
    background: url(https://upload-images.jianshu.io/upload_images/18473112-cc5084b6c7117af4.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)
    no-repeat right 5px;
    background-size: 10px 10px;
}
.nav-phone{
    width: 65px;
    position: relative;
}
.nav-erweima{
    width: 66px;
    height:66px;
    margin: 4 auto;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/mobile_qrcode.png)
    no-repeat 50%;
    /* display: block; */
    border: 1px solid #cfcfcf;
    background-color: #f2f3f4;
}
.nav-erweima::before{
    content: "";
    position: absolute;
    top:20px;
    left: 50%;
    margin-left: -3px;
    width: 0;
    height:0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
.myjd-second-top{
    width: 265px;
    height:72px;
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #eee;
}
.myjd-second li{
    width: 126px;
    height: 24px;
}
.myjd-second-bottom{
    width: 265px;
    height: 48px;
    padding: 10px 0 10px 15px; 
}



