* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 460px;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-dd1c477abea18053.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-position-y: 0;
    margin: 0 auto;
}

.options {
    width: 460px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -230px;
    top: 0;
    padding-top: 10%;
}

.options p {
    width: 40%;
    height: 80px;
    font-size: 20px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.plane {
    width: 98px;
    height: 122px;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-94ddd64359bb23b9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    background-position: center;
    background-size: 100%;
    position: absolute;
    bottom: 0;
}

.bullet {
    width: 7px;
    height: 18px;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-c050aae72f085534.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    background-position: center;
    background-size: 100%;
    position: absolute;
    left: 30px;
    bottom: 0;
}

.bullet.die {
    width: 41px;
    height: 43px;
    background-repeat: no-repeat;
    animation: bullet-die .5s linear infinite;
    margin-left: -17px;
}

@keyframes bullet-die {
    0% {

        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-e0758f39c7e55ef2.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    100% {

        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-ed111971879e06de.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }
}

.enemy-small {
    width: 59px;
    height: 36px;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-b7f923c4fcbdd172.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    background-position: center;
    background-size: 100%;
    position: absolute;
}

.enemy-small.die {
    animation: small-die 1s linear infinite;
}

@keyframes small-die {
    0% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-e681908022de59dd.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    50% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-0a5457ff6ea3eb40.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    100% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-a870669694f7eb75.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }
}

.enemy-middle {
    width: 70px;
    height: 92px;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-60a922209a5f77dc.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    background-position: center;
    background-size: 100%;
    position: absolute;
}

.enemy-middle.die {
    animation: middle-die 1s linear infinite;
}

@keyframes middle-die {
    0% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-237653c788b4dbee.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    33% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-0ccb12d41cbe8fd3.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    66% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-23ee0f44074830fd.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    100% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-609a6cb90172b88f.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }
}

.enemy-large {
    width: 165px;
    height: 256px;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-4a5a88d1fa4506ec.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    background-position: center;
    background-size: 100%;
    position: absolute;

}

.enemy-large.die {
    animation: large-die 1s linear infinite;
}

@keyframes large-die {
    0% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-f46ec83f088790cc.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    20% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-8fb0709a558c455d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    40% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-ff5c92e9cbfe5ab3.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    60% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-f1df833d629d0949.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    80% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-122d5a742fa7c121.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }

    100% {
        background-image: url("https://upload-images.jianshu.io/upload_images/2845301-7629a31656f9d17c.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
    }
}

.logo {
    width: 428px;
    height: 114px;
    position: absolute;
    top: 15%;
    margin-left: -214px;
    left: 50%;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-34e60fa57656cd4d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
}

.plane-loading {
    width: 192px;
    height: 41px;
    position: absolute;
    top: 50%;
    margin-left: -96px;
    left: 50%;
    background-image: url("https://upload-images.jianshu.io/upload_images/2845301-4483375ae7043942.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240");
}