*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}
ul,li{
    list-style: none;
}
button,input{
    border: none;
    outline: none;
}
nav{
    width: 100%;
    height: 36px;
    background-color:#333; 
}
nav .container{
    margin: 0 auto;
    width: 1090px;
    height: 36px;
}
.container .nav-l{
    height: 36px;
    width: 100px;
    float: left;
}
.container .nav-r{
    float: right;
    height: 36px;

}
.container .nav-r>li{
    float: left;
    margin-left: 10px;
    height: 36px; 
    line-height: 36px;
}
.container .nav-r>li>a{
    color: #cccccc;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    cursor: pointer;  
    border-left: 1px solid #5c5c5c;
    padding-left: 10px;
    box-sizing: border-box;
}
.container .nav-r>li .reginster,.container .nav-r>li .login{
    border-left: none;
    padding-left: 15px;
}
.search .container{
    width: 1090px;
    margin: 0 auto;
    height: 140px;
    /* background: red; */
    position: relative;
}
.seaarch-t{
    width: 100%;
    height: 60px;
}
.seaarch-t>div{
    float: left;
}
.seaarch-t .search-l{
    width: 124px;
    height: 60px;
    float: left;
    background: url(http://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxtop-s3776835b22-ff5967b298.png)  no-repeat left 45%;
    background-size: 100%;
    margin-top: 24px;
}
.seaarch-t .search-r{
    width: 900px;
    height: 60px;
    float: right;
}
.search-r .search-shopping{
    position: relative;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #B4A078;
    border-radius: 19px;
    padding: 8px 0;
    box-sizing: border-box;
    float: right;
    margin-top: 26px;
}
.search-r .search-shopping:hover{
    background-color: #F5F3EF;
}
.search-r .search-shopping>span{
    color: #B4A078;
    margin-left: 5px;
    margin-top: -1px;
    font-size: 14px;
}
.search-r>.input{
    position: relative;
    margin: 26px 20px 0 0;
    float: right;
    width: 532px;
    height: 36px;
}
.search-r>.input input{
    position: absolute;
    left: 0px;
    top: 0;
    z-index: 1;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #B4A078;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    font-size: 14px;
    width: 442px;
    padding-left: 38px;
    outline: 0;
    overflow: hidden;
    background: 0 0;
    box-sizing: border-box;
}
.search-r>.input button{
    width: 90px;
    height: 38px;
    background-color: #B4A078;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    float: right;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}
.search-r>.input button:hover{
    background-color: #B4A071;
}
.seaarch-b{
    position: absolute;
    left: 0;bottom: 0;

}
.seaarch-b>li{
    float: left;
    padding: 0 24px;
    box-sizing: border-box;
}
.seaarch-b>li>a{
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding:0 0 7px;
    box-sizing: border-box;
}
.seaarch-b>li>a:hover{
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
}
.seaarch-b>li>.active{
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
}
.seaarch-b>.border{
    border-left: 1px solid #ccc;
    height: 14px;
    margin-top: 4px;
    padding: 0;
}


/* banner */
.swiper-container {
    width: 1263px;
    height: 420px;
    margin: 0 auto;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    background-color: orange;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 8px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    width: 50px;
    height: 50px;
    background-color: #D0C4AF;
    border-radius: 500px;
    background-image: url("http://yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s33e647f656-a21248af33.png");
    background-position:6px -3663px; 
    background-size: 300%;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: #D0C4AF;
    border-radius: 500px;
    background-image: url("http://yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/icon-normal-s33e647f656-a21248af33.png");
    background-position:12px -3706px; 
    background-size: 300%;
}
.swiper-pagination-bullet{
    width: 6px;
    height: 6px;
    color: transparent;
    border: 1px solid #cecece;
    background-color: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 4px #dfcead;
    background: #a7936e;
    border: none;
}


/* Brand Manufacturer：品牌制造商 */
.brand{
    width: 1090px;
    height: 368px;
    margin: 0 auto;
    background-color: orange;
    margin-bottom: 60px;
}
.brand-title{
    height: 48px;
    background-color: rebeccapurple;
    line-height: 48px; 
}
.brand-title>a:nth-of-type(1){
    float: left;
    height: 48px;
    margin-right: 20px;
}
.brand-title>span{
    font-size: 12px;
}
.brand-title>a:nth-of-type(2){
    float: right;
}
.brand-content>div{
    width: 357px;
    height: 320px;
    float: left;
    margin-right: 9px;
    background-color: pink;
    position: relative;
    color: #666;
}
.brand-content>div:nth-of-type(3){
    margin-right: 0;
}
.brand-content>div:nth-of-type(3)>div{
    width: 100%;
    height: 155px;
    margin-bottom: 9px;
    background-color: rgb(148, 148, 221);
}
.brand-content>div:nth-of-type(3) .brand-content-list-bottom{
    margin-bottom: 0;
}
.brand-content>div>.brand-content-list-describe{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: darkkhaki;    
    font-weight: 300;
    margin: 0px auto;
}
.brand-content-list-describe p:nth-of-type(1){
    margin: 40px 0 20px;
    font-size: 24px;
}
.brand-content-list-describe p:nth-of-type(2){
    padding-top: 17px;
    box-sizing: border-box;
    border-top: 1px solid #666;
    display: inline-block;
}
.brand-content>div:nth-of-type(3)>div p{
    margin-left: 20px;
    font-weight: 300;
}
.brand-content>div:nth-of-type(3)>div p:nth-of-type(1){
    padding: 20px 0 8px;
    font-size: 18px;
    box-sizing: border-box;
}
.brand-content>div:nth-of-type(3)>div p:nth-of-type(2){
    padding-top: 14px;
    box-sizing: border-box;
    border-top: 1px solid #666;
    display: inline-block;
}


/* new:新品首发 是轮播图*/

