// 一个工具箱;
@mixin transform {
      -webkit-transform: rotate(20deg) translateX(20px);
      -moz-transform: rotate(20deg) translateX(20px);
      -o-transform: rotate(20deg) translateX(20px);
      -ms-transform: rotate(20deg) translateX(20px);
      transform: rotate(20deg) translateX(20px);
}
@mixin changeTrans ($arg : scale(1)){
      -webkit-transform: $arg;
      -moz-transform   : $arg;
      -o-transform     : $arg;
      -ms-transform    : $arg;
      transform        : $arg;
}
@mixin center-position {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
}
@mixin center-margin{
      margin-left : auto;
      margin-right: auto;
}
@mixin ellipsis{
      
}
@mixin btn {
      background: none;
      border: none;
      padding: 10px;
      background: #ddd;
}