@charset "utf-8";
/* CSS Document */
body,p,td,th,fieldset,legend,option,textarea,button,hr,input,h1,h3,h4,h5,h6,h2,ol,ul,dd,dl{ margin:0; padding:0;}
li{list-style: none;}
a{text-decoration:none;}
i,em{font-style:normal;}
h1,h2,h4,h3,h5,h6,b,strong{font-weight:normal;}
img{border:none;display:block;}
input{outline:none;}
body{ font-size:14px; line-height: 1em;}

table{border-collapse:collapse;}
/* a:hover{text-decoration:underline;} */

/*
table{width:500px;height:300px;  border:1px solid #333; border-spacing:0; }
td,th{border:1px solid #333;}
 border-spacing调整相邻单元格间距
*/
