* {
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}

.container{
    position: relative;
    width: 1130px;
    height:286px;
    margin: 100px auto;
    box-shadow: 0 0 5px yellowgreen;
    overflow: hidden;
}

.wrap{
    position: absolute;
    width: 7910px;
    height: 286px;
    z-index: 1;
}
.wrap img{
    float: left;
    width: 1130px;
    height: 400px;
}

.container .buttons{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 150px;
    height: 20px;
    z-index: 2;
}


.container .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellowgreen;
    text-align: center;
    color:white;
    cursor: pointer;
}
.container .buttons span.on{
    background-color: red;
}



.container .arrow {
    position: absolute;
    top: 35%;
    color: yellowgreen;
    padding:0px 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: inline-block;
}
.container .arrow_left {
    left: 10px;
}
.container .arrow_right {
    right: 10px;
}
.container:hover .arrow {
    display: block;
}
.container .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}




