@charset "utf-8";
body{
    font-size: 14px;
}
.hidden{
    position: absolute;
    display: none;
    z-index: 2;
    /* background:#fff; */
}
.header{
    height:56px;
    width:100%;
    background: #ffe300;
}
.header .nav{
    height:56px;
    width:1380px;
    margin: 0 auto;
    line-height: 56px;
}
.header .nav img{
    height:20px;
    width:120px;
    float: left;
    margin-top: 20px;
}
.header .nav .nav_list{
    float: left;
    margin-left: 260px;
}
.header .nav .nav_list>li{
    float: left;
    height:56px;
    line-height:56px;
    padding:0 20px;
    position: relative;
    cursor: pointer;
}
.header .nav .nav_list .current{
    font-weight: bold;
}
.header .nav .nav_list .more{
    font-weight:bold;
}
.header .nav .nav_list>li a{
    color: #000;
}
.header .nav .nav_list>li:hover{
    background-color: #000;
}
.header .nav .nav_list>li:hover>a{
    color: #ffe300;
}
.header .nav .nav_list>li:hover>div{
    display: block
}
.header .nav .nav_list .discover .discover_box{
    width:664px;
    background: #fff;
    left: 0;
    top: 56px;
}
.header .nav .nav_list .discover .discover_box .top{
    border-bottom:1px solid #eaeaea;
    overflow: hidden;
    padding: 11px 17px 17px;
}
.header .nav .nav_list .discover .discover_box .top ul{
    margin: 0
}
.header .nav .nav_list .discover .discover_box .top  ul li{
    float: left;
    width: 90px;
    height:28px;
    line-height:28px;
    margin-top:4px;
    text-align:center;
    position: relative;
    padding: 0;
}
.header .nav .nav_list .discover .discover_box .top  ul li a{
    display: inline-block;
    min-width:42px;
    height:28px;
    line-height:28px;
    padding: 0 7px;
    margin:0 6px;
    border-radius: 4px;
}
.header .nav .nav_list .discover .discover_box .top  ul li i{
    display:inline-block;
    width: 1px;
    height:14px;
    position: absolute;
    top: 5px;
    right: 0;
    background: #ddd;
}
.header .nav .nav_list .discover .discover_box .top  ul li:hover a{
    background-color: #ffe300;
    color: #000;
} 
.header .nav .nav_list .discover .discover_box .bottom{
    width: 604px;
    padding:0 30px;
    overflow: hidden;
}
.header .nav .nav_list .discover .discover_box .bottom ul{
    margin: 0;
}
.header .nav .nav_list .discover .discover_box .bottom li{
    float: left;
    padding: 0;
    padding-right: 15px;
    margin-right:40px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou.svg) right no-repeat;
    background-size:10px 10px;
}
.header .nav .nav_list .discover .discover_box .bottom li:hover a{
    color: rgb(255, 0, 80);
}
.box_list{
    width:152px;
    /* padding:6px 0; */
    top: 56px;
    left: 0;
    border-radius: 4px;
}
.box_list ul li{
    height: 44px;
    width:100%;
    line-height:44px;
    padding-left: 20px;
    position: relative;
    background: #fff;
}
.box_list ul li:hover{
    background-color: #ffe300;
}
.header .nav ul .more .box_list{
    font-weight: normal
}
.header .nav .search{
    float: left;
    width: 60px;
    height:56px;
    margin-left: 100px;
    text-align:center;
    line-height:60px;
    cursor: pointer;
}
.header .nav .search i{
    display: inline-block;
    width: 20px;
    height:20px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search.svg?v=1) no-repeat left top;
    background-size: 20px 20px;
    margin-top: 18px;
}
.header .nav .search:hover{
    background:#000;
}
.header .nav .search:hover i{
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search-hover.svg?v=1) no-repeat;
    background-size: 20px 20px;
}
.header .nav .unload{
    width: 62px;
    height: 56px;
    float: left;
    line-height:56px;
    text-align:center;
    cursor:pointer;
}
.header .nav .unload a{
    display: inline-block;
    width:30px;
    height:20px;
    background:url(https://static.zcool.cn/git_z/build/images/svg/nav-upload.svg) no-repeat;
    background-size: 30px 20px;
    margin-top: 18px;
}
.header .nav .unload:hover{
    background-color: #000;
}
.header .nav .unload:hover a{
    background:url(https://static.zcool.cn/git_z/build/images/svg/nav-upload-hover.svg) no-repeat;
    background-size: 30px 20px;
}
.login{
    overflow: hidden;
}
.login li{
    width:49px;
    height:60px;
    margin-left: 20px;
    float: left;
}
.login li a{
    color: #000;
}
.login i{
    float: left;
    width: 1px;
    height:10px;
    margin-top: 23px;
    background: #000;
}
.safe{
    width:1130px;
    margin:0 auto;
}
.banner{
    height:286px;
    position: relative;
    z-index: 0;
    margin-top: 20px;
}
.banner:hover .banner_arrow{
    display:block;
}
.banner>img{
    width: 100%;
    height:100%;
    border-radius: 5px;
}
.banner_arrow{
    display:none;
    width: 65px;
    height:65px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
.next{
    background: transparent url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2)
    no-repeat ;
    top: 120px;
    right:20px;
}
.next:hover{
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrowhover.svg?v=2);
}
.pre{
    background: transparent url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2)
    no-repeat;
    top: 120px;
    left: 20px;
}
.pre:hover{
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrowhover.svg?v=2);
}
.banner_notice{
    overflow: hidden;
    margin-top: 23px;
    margin-bottom: 50px;
}
.banner_notice li{
    width: 210px;
    height:168px;
    margin-left: 20px;
    float: left;
}
.banner_notice li:first-child{
    margin:0;
}
.banner_notice li a>img{
    width:100%;
    height:100%;
}
.product_title{
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    height:56px;
    line-height: 56px;
    /* margin-top: 50px; */
    position: sticky;
}
.product_title li{
    display: inline-block;
    font-size: 16px;
    padding:0 30px;
}
.product_title li a{
    padding-bottom: 16px;
}
.product_title li:first-child a{
    border-bottom: 2px solid #000;
}
.product_title li:hover a{
    color: #000;
    border-bottom: 2px solid #000;
}
.product{
    background: #ddd;
    /* height:50px; */
    overflow: hidden;

}
.box_card{
    width: 210px;
    height:308px;
    background: #fff;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    border-radius: 5px;
}
.img_card a>img{
    width: 210px;;
    height: 158px;
}
.info_card{
    width:178px;
    padding: 11px 16px 13px 16px;
    border-bottom: 1px solid #eee;
}
.info_card_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info_card_title a{
    color:#000;
}
.info_card_title a:hover{
    color:#d36f16;
}
.info_card_type{
    color:#bbb;
    font-size: 12px;
    margin-bottom:17px;
}
.info_card_item{
    font-size: 12px;
    color: #bbb
}
.info_card_item span{
    padding-left: 20px;
    margin-right: 10px;
}
.statistics-view{
    background: url(https://static.zcool.cn/git_z/build/images/svg/card-liulan.svg?v=1) no-repeat left;
}
.statistics-comment{
    background: url(https://static.zcool.cn/git_z/build/images/svg/card-pinglun.svg?v=1) no-repeat left;
}
.statistics-tuijian{
    background: url(https://static.zcool.cn/git_z/build/images/svg/card-zan.svg?v=1) no-repeat left;
}
.card_item{
    height:50px;
    line-height: 50px;
    padding: 0 16px;
    font-size: 12px;
}
.card_item .user-avatar{
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-avatar：hover a{
    color: #d36f16;
}
.card_item span:first-child a>img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}
.card_item .time{
    text-align: center;
    margin-left: 20px;
}
.page_list{
    margin-top: 40px;
    text-align: center;
    background: #ddd;
    float: left;
    margin-left:400px;
}
.page_list li{
    width: 38px;
    height:38px;
    /* border: 1px solid #ffe300; */
    border:1px solid #E9E9E9;
    color: #999;
    background: #fff;
    display:inline-block;
    text-align:center; 
    line-height: 38px;
    cursor: pointer;
    border-radius: 4px;
}
.page_list li:hover{
    color: #000;
    background: #ffe300;
    border-color: #ffe300;
}