#body{
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	height: 56px;
	background: #ffe300;
}
nav{
	height: 56px;
	margin: 0 70px;
	position:relative;
}
.logo{
	min-width: 120px;
	height: 20px;
	position: absolute;
    top: 18px;
	left: 0;
	z-index: 3;
}
.logo img{
	min-width: 120px;
	height: 20px;
}
.menu{
    height: 56px;
    margin: 0 auto;
}
.menu .menu_content{
    height: 56px;
    margin: 0 auto;
    display: inline-block;
}
.menu  .menu_content>li{
    float: left;
    cursor: pointer;
    width: 76px;
    line-height: 56px;
    text-align: left;
}
.menu  .menu_content .original{width: 122px;}

.menu .menu_content li a{
    display: inline-block;
    padding: 0 24px;
}
.menu  .menu_content>li>a:hover{
    background:rgb(40,40,40);
    color: #ffe300;
}
.menu  .menu_content .current{font-weight: 600;}
.menu  .menu_content .dot3{font-weight: 900;}
.hide{display: none}
nav .search{
	clear: both;
	position: relative;
	top:-56px;
	right: -340px;
	width: 60px;
	height: 56px;
	text-align: center;
	line-height: 56px;
	cursor: pointer;
}
nav .search{
	width: 60px;
	height: 56px;
	display: inline-block;
}
nav .search>i{
	display: inline-block;
	background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search.svg?v=1) no-repeat;
	width: 20px;
	height: 20px;
	margin-top: 18px;	
}
nav .upload{
	clear: both;
	position: relative;
	top: -112px;
	left: 450px;
}
nav .upload .upload-link{
	height: 20px;
	padding: 18px 16px;
	display: inline-block;
}
nav .upload .upload-link:after{
	content: "";
	display: inline-block;
	background: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload.svg) no-repeat;
	width: 30px;
	height: 20px;
}
nav .unlogin{
	clear: both;
	position: absolute;
	top: 0px;
	right: 50px;
    /* top: -168px;
	left:1110px; */
	}
nav .unlogin>li{line-height: 60px;float: left;cursor: pointer;position: relative;}
nav .unlogin .lo{padding-right: 10px;}
nav .unlogin a{margin-left: 10px;}

.slider_box{
	background: #fff;
	padding: 20px 0 35px 0;
	height: 500px;
}
.slider_ad{
	padding-bottom: 20px;
	overflow: hidden;
}

.unslider{position: relative;}
.unslider{
	position: relative;
	overflow: hidden;
}
.banner{
	cursor: pointer;
	border-radius: 4px;
}
.banner, .slider{
	max-width: 1130px;
	height: 286px;
	margin: 0 auto;
}
.banner>div{
	width: 9040px;
	margin-left: 100%;
	left: 0;
}
.slider_container{
	position: relative;
	height: 100%;
	overflow: hidden;
}
.slider_container>li>img{
	width: 1130px;
	height: 100%;
	position: relative;
	animation:mymove  10s infinite normal;
	}
	mymove{
		 0%{left: 0;top: 0;}
		20%{left: -100%;top: 0;}
		40%{left: -200%;top: 0;}
		60%{left: -300%;top: 0;}
		80%{left: -400%;top: 0;}
		100%{left:-500%;top: 0;}
	}

.slider_container .slide{
	/* float: left; */
	height: 100%;
	font-size:100px;
	text-align: center;
}
.prev,.next {
	clear: both;
    display: n-one;
    top: 0;
    /*margin-top: -4px;*/
    /*left: 50%;*/
    width: 13px;
    height: 100%;
    padding:0 80px;
	border-radius: 2px;
}
.prev {
    left:0;
    background-position: 30px center;
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2);
}
.prev:hover{
	 background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrowhover.svg?v=2);
}
.next {
    right:0;
    background-position:91px center;
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
}
.next:hover{
	right: 0;
	background-position: 91px  center;
	background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
}
.unslider-arrow{
	 position: absolute;
    background: transparent no-repeat center;
    text-indent: -9999em;
}
.ad_top{
	max-width: 1130px;
	/* margin-top: 20px; */
	margin: 0 auto;
}
.ad_top>ul{
	height: 170px;
	margin-right: -20px;
}
.ad_top ul li{
	float: left;
	margin-right: 20px;
	width: 100%;
	
}
.ad_top li{
	max-width: 210px;
}
.ad_top ul li img{
	width: 210px;
	height: 168px;
	border-radius: 4px ;
}
.tab{
	width: 100%;
	height: 60px;
	
}
.tab_nav{
	width: 1130px;
	height: 60px;
	/* position: relative; 	 */
}
.tab_nav ul{
	margin-bottom: -1px;
	color: #999;
	font-size: 16px;
	/* position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:  auto; */
	margin-left: 40%;
   
} 
.tab_nav ul li span{
	width: 66px;
    height: 58px;
    line-height: 60px;
    color: #666666;
	display: inline-block;
	text-align: center;
	cursor: pointer;
    margin: 0 30px;
	float: left;
}
.tab_nav .current_li>span{
	color: #444;
	
	border-bottom: 2px solid #444;
	font-weight: bold;
}
.tab_nav ul li span:hover{
	color: #444;
	border-bottom: 2px solid #444;
	font-weight: bold;
}
.work_list{
	width: 100%;
	/* height: 100%; */
	background: #f4f4f4;
}
.work_list_content{
	width: 1130px;
	margin: 20px auto -20px;
}
.card{width: 1130px;height: auto;background: #f4f4f4}
.card_box{
	margin: 10px 15px 40px 0px;
	width: 210px;
	/* position: relative; */
	height: 308px;
	float: left;	
}
.card_content{
	width: 210px;
	height: 308px;
	box-sizing: border-box;
	border-radius:4px 4px 0 0;
	}

.card_content .card_img img{
	border-radius:4px 4px 0 0;
	width: 210px;
	height: 158px;
	/* position: relative; */
	}
.card_content  .card_info{
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 5px;
	/* position: relative; */
}
.card_content .card_info>a:hover{color: #eda740;}
.card_content .card_type{
	font-size:12px;
	color: #bbb;
	height: 18px;
	margin: 3px 0 17px 0;
	/* float: left; */
	}
.card_content .card_item{
	font-size:12px;
	color: #bbb;
	margin-bottom: 14px;
	margin-left: 35px;

}
.card_content .card_item>span{float: left;}
.card_content .card_item span{margin-right: 10px;}
.card_content .card_item span:before{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	margin-right: 5px;
}
.card_content .card_item .view:before{
	background: url(https://static.zcool.cn/git_z/build/images/svg/card-liulan.svg?v=1) 0 4px no-repeat;
	background-size: 16px auto;
}
.card_content .card_item .comment{
	background: url(https://static.zcool.cn/git_z/build/images/svg/card-pinglun.svg?v=1) 0 2px no-repeat;
	background-size: 16px auto;
}
.card_content .card_item  .like{
	background: url(https://static.zcool.cn/git_z/build/images/svg/card-zan.svg?v=1) no-repeat;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}
.card_content .card_author{
	height: 40px;
	line-height: 40px;
	padding: 5px 16px;
	font-size: 12px;
	margin-top: 50px;
	border-top: 1px solid #eee;
}
.card_content .card_author>span{display: inline-block;}
.card_content .card_author .member{
	width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	/* font-weight: bold; */
	float: left;
}
.card_content .card_author .member>a{color: #333;}
.card_content .card_author .member>a:hover{color: #eda740;}
.card_content .card_author .member>a>img{
	width: 24px;
	height: 24px;
	border: none;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 10px;
}
.card_content .card_author .time{float:right;color: #bbb;}
.last{position: relative;}
.last>a>span{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
	font-size: 12px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	border-radius:4px 0 4px 0;
	}