
.index{
    background-color: #f0f3ef;
}

/* 顶部栏 */
.shortcut {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

/* 顶部主体 */
.w {
    width: 1190px;
    height: 30px;
    line-height: 30px;
    color: #999;
    margin: 0 auto;
}

/* 左边 */
.f1 {
    width: 258px;
    height: 30px;
    float: left;

}

.shortcut li {
    float: left;
}

.shortcut_btn {
    width: 58px;
    height: 30px;
    float: left;
    margin-left: 200px;
    position: relative;
    z-index: 21;
}

.shortcut .dt {
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}

.dt .iconfont {
    font-size: 14px;
    color: #f10215;
}

/* 右边 */
.fr {
    float: right;
}

.login {
    margin-right: 8px;
    z-index: 20;
}

.zhuce {
    color: red;
}

.shortcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

.shortcut_jiange {
    padding: 0 7px;
}

.wodejingdong {
    padding: 0 20px 0 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}

.fr .iconfont {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}

.qiyecaigou {
    padding: 0 20px 0 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}

.qiyecaigou a {
    color: red;
}

.fr .hoverRed:hover a {
    color: red;
}

/* 地区滑过 */
.shortcut_btn:hover .ddArea {
    display: block;
}

.dt:hover {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}

.ddArea {
    position: absolute;
    left: 0;
    width: 300px;
    padding: 10px;
    top: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
}

.ddSpacer {
    display: none;
}

.contentList {
    overflow: hidden;
}

.ddArea .contentItem {
    float: left;
    width: 60px;
    padding: 2px 0;
}

.ddArea .contentItem a {
    float: left;
    padding: 0 8px;
    font-size: 12px;
}

.ddArea .contentItem:hover a {
    color: red;
    background-color: #ddd;
}

.areamini_inter {
    margin: 10px 0 10px 10px;
}

.areamini_inter_split {
    width: 262px;
    height: 0;
    border-bottom: dotted 1px #eee;
}

.areamini_inter_desc {
    margin: 9px 0;
    color: #8f8f8f;
}

.areamini_inter_list {
    overflow: hidden;
}

.areamini_inter_item {
    width: 145px;
    height: 26px;
    line-height: 26px;
    float: left;
}

.areamini_inter_lk {
    color: #999;
    display: block;
    overflow: hidden;
}

.areamini_inter_name {
    float: left;
    width: 120px;
}

.areamini_inter_ico_global {
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 12px;
    margin-top: -1px;
    background-image: url(https://upload-images.jianshu.io/upload_images/18300474-a945d3f68594baf8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
}

.areamini_inter_ico {
    float: left;
    position: relative;
    top: 7px;
    margin-right: 8px;
    width: 15px;
    border: solid 1px transparent;
}

/* 我的京东滑过 */
.wodejingdong:hover {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}

.layer {
    left: 0;
    width: 280px;
}

.dropdown-layer {
    top: 30px;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    display: none;
}

.myJd:hover .dropdown-layer {
    display: block;
}

.myjdlist {
    padding: 10px 0 10px 15px;
    overflow: hidden;
}

.myjdlist .fore1,
.fore2 {
    float: left;
    width: 126px;
}

.myjdlist_2 {
    border-top: solid 1px #f1f1f1;
}

.dropdown-layer a:hover {
    color: red;
}

/* 头部 */
.header .w{
    position: relative;
    z-index: 11;
    height: 140px;
}
.logo{
    position: absolute;
    z-index: 2;
    left: 0;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-bottom: 1px solid ededed;
}
.logo_tit{
    width: 100%;
    height: 100%;
    position: absolute;
}
.logo_tit_lk{
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow: hidden;
    display: block;
    width: 190px;
    height: 170px;
    background-image: url(https://upload-images.jianshu.io/upload_images/18300474-80b119d9dc79f185.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
    font-size: 0;
}
.logo_extend{
    position: absolute;
    width: 100%;
    height: 100%;
}
.logo_scene_hide{
    display: none;
}
.logo_scene{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
}
.logo.enterChange{
    background-image: url(https://upload-images.jianshu.io/upload_images/18300474-bedbd54c6e48b4a8.gif?imageMogr2/auto-orient/strip);
    transition: all 3s;
}