<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script type="text/html" id="template">
        <% for(var i=0;i<20;i++){ %>
            <h1>您好,世界<%= i %></h1> <p>hello world</p>
        <% }%>
    </script>
    <script>
        var template = document.getElementById("template").innerHTML;
        var reg = /<%[^=](.*?)%>/g;
        var res =template.replace(reg,`\`);$1 print(\``);
        // console.log(res);
        res =`print(\`${res}\`)`;
        var html =" ";
        function print(str){
            html += str;
        }
        var regVar = /<%=(.*?)%>/g;
        var res = res.replace(regVar,`\`);print($1);print(\``);
        console.log(eval(res));
        console.log(html);

    </script>
</body>
</html>