*{
    margin:0;
    padding:0;
}
#pao{
    width:60px;
    height:150px;
    background: url("https://upload-images.jianshu.io/upload_images/16960494-82a525c8dbc33297.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240") no-repeat;
    background-position: center;
    background-size: 100%;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-30px;
    line-height: 150px;
    text-align: center;
    font-size: 30px;
    color:green;
}
.fish{
    width:80px;
    height:120px;
    background: url("https://upload-images.jianshu.io/upload_images/16960494-f28413581f447db2.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240") no-repeat;
    background-position: center;
    background-size: 100%;
    position:absolute;
    left:0;
    font-size: 30px;
    color:red;
    line-height: 120px;
    text-align: center;
    transition: all 1s;
}
.die{
    transition: all 1s;
    transform: rotate(180deg);
}
.bullet{
    width:50px;
    height:50px;
    background: url("https://upload-images.jianshu.io/upload_images/16960494-c1fb4782eaea40fa.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240") no-repeat;
    background-position: center;
    background-size: 100%;
    position:absolute;
    top:405px;
    left:0;
    transition: all 1s;
}
.line{
    border:2px solid #000;
    position:absolute;
    top:400px;
    width:700px;
}
.time{
    width:100px;
    height:40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top:0;
    right:0;
    background:red;
}
.score{
    width:100px;
    height:40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top:60px;
    right:0; 
    background:green;
}
.restart{
    width:100px;
    height:40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top:120px;
    right:0; 
    background:yellow;
}