*{

    margin: 0;
    padding: 0;
}
body{background: url("../img/bg.jpg")}
#pao{
    width: 50px;
    height: 120px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;
    background: url(../img/炮.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
    color:red;
    text-shadow: 0 0 5px #fff;
    font-weight: bold;
}

.fish{
    width: 100px;
    height: 100px;
    background: url(../img/鱼.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    line-height: 100px;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
    text-align: center;
    color:yellowgreen;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
}
.fish.die{
    transition: all 1s;
    transform: rotate(180deg);
}
.bullet{
    width: 30px;
    height: 30px;
    background: url(../img/炮弹.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    transition: all .5s;
}

.line{
    height: 3px;
    background: #1db5bc;
    position: absolute;
    top: 500px;
    width: 100%;
    z-index: 1;
}
.score{
    width: 150px;
    height: 50px;
    border: 3px solid #881e71;
    position: absolute;
    bottom: 40px;
    right:0;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    line-height: 50px;
    color: white;
}
.timeDown
{
    width: 150px;
    height: 30px;
    border: 3px solid #881e71;
    position: absolute;
    bottom: 150px;
    right: 0;
    line-height: 30px;
    color: white;
    border-radius: 10px;
    text-align: center;
}
/*.showscore{*/
    /*width: 150px;*/
    /*height: 100%;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*border: 3px solid #ff0000;*/
    /*position: absolute;*/
    /*display: block;*/
    /*bottom: -2px;*/
    /*right:-3px;*/
    /*font-size: 18px;*/
    /*border-radius: 10px;*/
/*}*/
.restart
{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    left: 0;
    margin: auto;
    width:150px;
    height:40px;
    border-radius: 10px;
    display: none;
}
button{font-size: 30px;width: 150px ;height: 40px;border-radius: 10px;background-color: #471456;color: white;border: 0;font-weight: bold;
}