<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <script type="text/html"  id="tem" >
            <% for(var i=0;i< 10;i++) {%>
                <h1>fuck <%= i %></h1>
                <%  } %>
        </script>
           



        <script>
        var tem=document.getElementById("tem").innerHTML;
        // console.log(tem);
        var reg=/<%[^=](.*?)%>/g;
        var str=tem.replace(reg, `\`);$1 print(\`` );
        var html="";
        // str+="";
        function print(str){
            html+=str;
        }
        // var rereg=/<%%>/;
        str=`print(\`${str}\`)`;
        var rereg=/<%=(.*?)%>/;
      str=  str.replace(rereg, `\`);  print($1); print(\``);



         console.log(str);
        eval(str);
        document.body.innerHTML=html;
        </script>
</body>
</html>