.w1209{width:1209px;height:100%;margin:0 auto;position: relative;}

.header{
    height:56px;
    width:100%;
    background:#ffe300;
}
.header .logo{
    width:120px;
    height:25px;
    position: absolute;
    top:18px;
    left: 0;
}
.header .ul1{
    width:638px;
    height:100%;
    margin: 0 auto;
}
.header .ul1>li{
    float: left;
    width:76px;
    height: 100%;
    text-align: center;     
}
.header .ul1>li:hover{
    background:#000;
}
.header .ul1>li:hover>a{
    color:#ffe300;
}
.header .ul1>li>a{
    display: block;
    padding:0 24px;
    line-height: 56px;
    color:#000;
}
.header .ul1 .sy{
    font-weight: 600;
}
.header .ul1 .zbsc{
    width:122px;
    position: relative;
}
.header .ul1 .zbsc .thicon1{
    top:10px;
    left:90px ;
}
.header .ul1 .zbsc .thicon2{
    top:10px;
    left:50px ;
}
.header .ul1 .zbsc .thicon{
    display: block;
    height: 18px;
    line-height: 18px;
    padding:0 3px;
    color:#fff;
    font-size: 12px;
    background:#ea4335;
    position: absolute;
}
.header .ul1 .zbsc .thicon:after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-left: 5px solid #ea4335;
    border-bottom: 5px solid transparent;
}
.header .ul1 .more{
    width:60px;
}
.header .ul1 .more:hover>a{
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/nav-more-hover.svg) ;
}
.header .ul1 .more>a{
    height: 100%;
    background-image:url(https://static.zcool.cn/git_z/build/images/svg/nav-more.svg) ;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:20px auto;
}
.header .ul1 .fx:hover .fxlist{
    display: block;
}
.header .ul1 .fx .fxlist{
   box-shadow: #eee 0px 0px 4px;
    width:664px;
    height:144px;
    display: none;
    background-color: #fff;
    z-index: 100;
    position: relative;
}
.header .ul1 .fx .fxlist>ul{
    width:630px;
    height:64px;
    padding:11px 17px 17px;
}
.header .ul1 .fx .fxlist>ul>li{
    float: left;
    width:90px;
    height: 28px;
    margin-top: 4px;
    position: relative;
}
.header .ul1 .fx .fxlist>ul>li>a{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    min-width:55px;
    padding:0 7px;
    border:1px solid transparent;
}
.header .ul1 .fx .fxlist>ul>li>a:hover{
    background-color: #ffe300;
    border:1px solid #ffe300;
    border-radius: 4px;
}
.header .ul1 .fx .fxlist>ul>li>i{
    display: inline-block;
    width:1px;
    height: 14px;
    background-color: #ddd;
    position: absolute;
    top:5px;
    right: 0;
}
.header .ul1 .fx .fxlist>div{
    width:auto;
    height: 51px;
    padding :0 30px;
    border-top: 1px solid #ddd;
    line-height: 51px;
    text-align: left;
}
.header .ul1 .fx .fxlist>div>a{
    padding-right: 15px;
    margin-right:40px ;
    background-image: url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}
.header .ul1 .fx .fxlist>div>a:hover{
    color: #d36f16;
    background-image: url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou2.svg);
    background-size: 10px 10px;
}
.header .ul1 .zw>div{
   box-shadow: #eee 0px 0px 4px;
    width:152px;
    padding:6px 0;
    text-align: left;
    display: none;
    position: relative;
    background-color: #fff;
    z-index: 100;
}
.header .ul1 .zw:hover div{
    display: block;
}
.header .ul1 .zw>div>p{
    height: 44px;
    line-height: 44px;
}
.header .ul1 .zw>div>p:hover{
    background-color: #ffe300;
}
.header .ul1 .zw>div>p>a{
    display: inline-block;
    width:152px;
    padding-left:20px;
}
.header .morelist{
    background:none;
}
.header .ul2{
    width:240px;
    height:100%;
    position: absolute;
    top:0;
    right:0;
}
.header .ul2>li{
    float: left;
    width:60px;
    height:100%;
}
.header .ul2>li>a{
    display: block;
    width:100%;
    height: 100%;
}
.header .ul2 .fdj{
    background-image: url(https://static.zcool.cn/git_z/build/images/svg/nav-search.svg?v=1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}
.header .ul2 .fdj:hover{
    background-image: url(https://static.zcool.cn/git_z/build/images/svg/nav-search-hover.svg?v=1);
}
.header .ul2 .y{
    background-image: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}
.header .ul2 .y:hover{
    background-image: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload-hover.svg);

}
.header .ul2 .tu:hover{
    background-color: #000;
}
.header .ul2 .zi{
    text-align: right;
    line-height: 56px;
    color: black;
}
.header .ul2 .zi .x{
    display: inline-block;
    width:1px;
    height:10px;
    background-color: #000;
    margin-left: 20px;
}
.header .ul2 .dl{
    margin-left: 12px;
}






.maintop{
    margin: 0 auto;
    width:1130px;
    height: 555px;
    padding-top:20px;
    padding-bottom: 35px;
}
.maintop .banner{
    width:1130px;
    height: 286px;
    position: relative;
}
.maintop .banner>img{
    width: 1130px;
    height: 100%;
    border-radius: 4px;
}
.maintop .banner>a{
    display: inline-block;
    width:13px;
    height: 100%;
    padding:0 80px;
    position: absolute;
    top:0;
}
.maintop .banner .prev{
    left: 0;
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2);
    background-position: 30px center;
    background-repeat: no-repeat;
}
.maintop .banner .prev:hover{
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrowhover.svg?v=2);
}
.maintop .banner .next{
    right: 0;
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
    background-position: 91px center;
    background-repeat: no-repeat;
}
.maintop .banner .next:hover{
    background-image: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrowhover.svg?v=2);
}