.w {
    width: 1190px;
    margin: 0 auto;
}

.box {
    border: 1px solid #ccc;
    background-color: #fff;
}

.shrotcut {
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.shrotcut a:hover {
    color: #e33333;
}

.shrotcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fl_li {
    float: left;
    margin-left: 200px;
    position: relative;
    z-index: 10;
}

.fl_li>span {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    border: 1px solid #e3e4e5;
}

.fl_li>span::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 28px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-d70cc49f4fc5eb55.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center;
    background-size: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

.fl_li:hover>span {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.fl_li:hover .fl_box {
    display: block;
}

.fl_box {
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: 0;
    line-height: 24px;
    z-index: 9;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
    display: none;
}

.fl_box_top ul li {
    float: left;
    width: 60px;
    padding: 2px 0;
    text-align: center;
}

.fl_box_top li a {
    float: left;
    padding: 0 8px;
}

.fl_box_top li .a_add {
    background-color: #f10215 !important;
    color: #fff;
}

.fl_box_top li a:hover {
    background-color: #f4f4f4;
}

.fl_box_middle, .fl_box_bottom {
    margin: 10px;
    border-top: dotted 1px #eee;
}

.fl_box_middle p, .fl_box_bottom p {
    margin: 9px 0;
    color: #8f8f8f;
}

.fl_box_bottom li {
    float: left;
    width: 50%;
    height: 26px;
    line-height: 26px;
}

.fl_box_bottom li::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-d6222255bf60199a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat;
    vertical-align: middle;
    margin-right: 8px;
}

.fl_box_bottom_a1::before {
    background-position: -20px 0px !important;
}

.fl_box_bottom_a2::before {
    background-position: 0px -16px !important;
}

.fl_box_bottom_a3::before {
    background-position: -40px 0px !important;
}

.fl_box_bottom_a4::before {
    background-position: -20px -16px !important;
}

.fr>li {
    float: left;
    height: 28px;
    margin: 0 2px;
    position: relative;
    z-index: 21;
}

.fr_a1 {
    color: #f10215;
}

.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

.fr_icon::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-64dee9ea194eaba3.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center center;
    background-size: 12px 12px;
    vertical-align: middle;
    margin-left: 4px;
}

.fr_li>a {
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border: 1px solid #e3e4e5;
}

.fr_li:hover a {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
    position: relative;
    z-index: 21;
}

.fr_li:hover>div {
    display: block;
}

.fr_myjd {
    width: 280px;
    left: 0px;
}

.fr_myjd, .fr_li_purchase, .fr_li_service, .web-nav {
    position: absolute;
    top: 30px;
    z-index: 20;
    display: none;
}

.sign_ul {
    padding: 10px 0 10px 15px;
    overflow: hidden;
}

.myjd_top {
    border-bottom: dotted 1px #eee;
}

.fr_myjd li {
    float: left;
    width: 50%;
}

.fr_li_purchase {
    left: 0px;
}

.fr_li_purchase ul {
    width: 140px;
}

.fr_li_purchase ul li {
    float: left;
    width: 56px;
}

.fr_li_service {
    width: 155px;
    right: 0px;
    padding: 10px 0 10px 15px;
}

.fr_li_service p {
    font-weight: 700;
    color: #666;
}

.fr_li_service ul {
    width: 170px;
    position: relative;
    left: -15px;
    border-bottom: dotted 1px #eee
}

.fr_li_service li {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
}

.fr_li_service .xx {
    border-bottom: none;
}

.web-nav {
    right: -84px;
    width: 1188px;
    padding: 15px 0;
}

.web-nav dl {
    float: left;
    width: 255px;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.fore1 {
    border-left: none;
    width: 340px !important;
}

.web-nav dt {
    margin-bottom: 5px;
    font-weight: 700;
    color: #666;
}

.web-nav .item {
    float: left;
    width: 85px;
    overflow: hidden;
    white-space: nowrap;
}

.mobile_jd {
    z-index: 19 !important;
}

.mobile_static {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-d2afee32e1694fa6.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center;
    background-size: 60px 60px;
    padding: 4px;
    border: 1px solid #cfcfcf;
}

.mobile_static::after, .mobile_hidden::after {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}

.mobile_hidden {
    position: absolute;
    right: -24px;
    top: 30px;
    width: 190px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    border-bottom: 3px solid #60575a;
    z-index: 12;
    display: none;
}

.mobile_item {
    position: relative;
    z-index: 5;
    padding: 15px 0;
    border-bottom: 1px solid #E7E7E7
}

.mobile_item img {
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid #CCC;
    padding: 2px;
    margin-left: 5px
}

.mobile_pop_info h5 {
    font-size: 12px;
    line-height: 17px;
    color: #666;
    font-weight: bold
}

.mobile_pop_info p {
    margin: 3px 0;
    line-height: 14px;
    color: #F10214;
}

.mobile_pop_info li {
    float: left;
}

.mobile_pop_info li a {
    overflow: hidden;
    float: left;
    margin-right: 2px;
    width: 25px;
    height: 25px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-420bdc4cebbc18b6.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat;
    background-position: 0px 0px;
}

.mobile_pop_info_a2 {
    background-position: 0px -26px !important;
}

.mobile_pop_info_a3 {
    background-position: 0px -52px !important;
}

.mobile_hidden::after {
    left: 154px !important;
}

.mobile_jd:hover .mobile_hidden {
    display: block;
}

/* 头 */

.header .w {
    height: 140px;
    position: relative;
    z-index: 11;
}

.jddog {
    position: absolute;
    z-index: 2;
    top: -31px;
    width: 190px;
    height: 170px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

.jddog a {
    overflow: hidden;
    display: inline-block;
    width: 190px;
    height: 170px;
}

.search {
    width: 100%;
    height: 60px;
}

.from {
    padding-top: 25px;
    margin: 0 auto;
    width: 550px;
    height: 35px;
    position: relative;
}

.from input {
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
}

.from span {
    position: absolute;
    right: 65px;
    top: 35px;
    width: 19px;
    height: 15px;
    overflow: hidden;
    /* background: yellowgreen; */
}

.from span a {
    display: inline-block;
    width: 19px;
    height: 15px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-16a4625161a8aa27.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat 0px 0px;
}

.from span:hover a {
    background-position: -30px 0px;
}

.from button {
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    position: absolute;
    top: 25px;
    background-image: url(https://upload-images.jianshu.io/upload_images/18597145-a083ef8eedb1f01a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.settleup {
    position: absolute;
    right: 99px;
    top: 25px;
    z-index: 21;
}

.cw_icon {
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
    color: #f10214;
}

.cw_icon a {
    vertical-align: top;
}

.cw_icon_left {
    display: inline-block;
    width: 18px;
    height: 35px;
    line-height: 35px;
    margin-right: 3px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-9639750303c69cb7.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center;
    background-size: 18px 18px;
}

.cw_icon_right {
    position: absolute;
    top: 5px;
    left: 140px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}

.settleup:hover .cw_icon {
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
}

.settleup:hover .dropdown_layer {
    display: block;
}

.dropdown_layer {
    position: absolute;
    top: 35px;
    right: 0;
    width: 308px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
}

.cart_empty {
    z-index: 2;
    width: 100%;
    background: #fff;
    height: 49px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    line-height: 49px;
    overflow: hidden;
    color: #999;
}

.hotwords {
    width: 550px;
    height: 20px;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 5px;
}

.hotwords li {
    float: left;
    margin-right: 12px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.hotwords_special {
    color: #F10215 !important;
}

.navitems {
    width: 790px;
    height: 40px;
    padding-top: 15px;
    margin: 0 auto;
}

.navitems ul li {
    float: left;
    margin-left: 25px;
}

.navitems a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
}

.navitems .spacer {
    margin: 15px -7px 0 17px !important;
    background-color: #ccc;
}

/* 轮播图块 */

.fs {
    height: 480px;
    position: relative;
    background: greenyellow;
}

.fs>div {
    float: left;
    height: 100%;
    width: 190px;
}

.fs_col1 {
    margin-right: 10px;
}

.fs_col1 .fs_itms_box {
    padding: 6px 0;
    height: 468px;
    overflow: hidden;
    background-color: #fefefe;
    color: #636363;
}

.fs_col1 .fs_itms_box li {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding-left: 18px;
}

.fs_col1 .fs_itms_box li a {
    font-size: 14px;
    color: #626262;
}

/* 隐藏菜单 */

.invisibility_menus {
    position: absolute;
    top: 0;
    left: 190px;
    background-color: #fff;
    width: 998px;
    min-height: 478px;
    border: 1px solid #f7f7f7;
    z-index: 2;
    display: none;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, .3);
}

.all_menus {
    padding: 20px 0 10px;
    display: none;
}

.all_menus a:hover {
    color: #c81623;
}

.homeappliances_menus {
    width: 800px;
    float: left;
}

.homeappliances_menus_items {
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
    width: 780px;
}

.homeappliances_menus_content {
    overflow: hidden;
    padding: 10px 0 0 20px;
}

.style1 {
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 0 30px 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}

.style1::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-d012896cc07630e6.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center;
    background-size: 12px 12px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 12px;
}

.style1:hover {
    color: #fff !important;
    opacity: 0.8;
}

.style2 {
    position: relative;
    padding-left: 80px;
}

.style3 {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 6px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.style4 {
    color: #666;
    text-decoration: none;
    padding: 0 15px 0 10px;
}

.style4::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(https://upload-images.jianshu.io/upload_images/18597145-db0264c8be59cb47.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center;
    background-size: 12px 12px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    margin-left: 5px;
}

.style4:hover::after {
    background: url(https://upload-images.jianshu.io/upload_images/18597145-b17bbb0a74077a95.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240) no-repeat center;
    background-size: 12px 12px;
}

.style5 {
    overflow: hidden;
    padding: 5px 0;
}

.style6 {
    float: left;
    margin: 3px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
}

.menus_pic {
    float: left;
    width: 198px;
}

.menus_pic_top {
    margin: auto;
    width: 168px;
    font-size: 0;
}

.menus_pic_top a {
    overflow: hidden;
    display: inline-block;
    width: 83px;
    height: 35px;
    margin: 0 0 1px 1px;
    background-color: #e7e7e7;
}

.menus_pic img {
    width: 100%;
    height: 100%;
}

.menus_pic_bottom {
    margin: 10px auto 0;
    width: 168px;
}

.menus_pic_bottom a {
    display: block;
    margin-bottom: 1px;
    height: 134px;
    background-color: #e7e7e7;
}