#container{
    width:800px;
    height:600px;
    margin:80px auto ;
    position: relative;
    border:1px solid #333;
}
.ball{
    width:20px;
    height:20px;
    border-radius: 50%;
    background: radial-gradient(#fff,#000);
    position: absolute;
    cursor: pointer;
}