*{
    margin:0 ;
    padding:0 ;
}
#container{
    width:800px;
    height:400px;
    background: black;
    margin:100px auto;
    position: relative;
    cursor: pointer;
}
.firework{
    width: 16px ;
    height:16px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
}
.boomFirework{
    width:7px;
    height:7px;
    border-radius: 50%;
    background:white;
    position: absolute;
}