*{
      font-family: Helvetica,Tahoma,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",STXihei,STHeiti,Heiti,SimSun,sans-serif;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 12px;
      -webkit-tap-highlight-color: rgba(255,255,255,0)
}
.showhide{
      width: 100%;
      background-color: #8b0d0a;
      height: 60px;
      cursor: pointer;
      position: relative;
}
.showhide_in a img{
      display: table;
      margin: 0 auto;
      border: 0;
}
.showhide_hideicon{
      position: absolute;
      top: 50%;
      right: 44px;
      margin-top: -16px;
      margin-left: -16px;
      cursor: pointer;
      z-index: 2;
      text-indent: -999em;
      display: block;
      background-image: url(https://bstatic.wbiao.co/public/sprites/a/a.png?152023319);
      background-position: -456px -414px;
      background-size: 589px;
      width: 32px;
      height: 32px;
}
.W1200{
      width: 1200px;
      margin: 0 auto;
}
.top{
      width: 100%;
      overflow: hidden;
      background: #f2f2f2;
}
.top_in{
      height: 28px;
      line-height: 28px;
}
.top_in_left{
      float: left;
      overflow: hidden
}
.top_in_a{
      color: #998c59;
      margin-left: 10px;
      margin-right: 30px;
      display: inline-block;
      color: #999;
      line-height: 28px;
      cursor: pointer
}
.top_in_right{
      float: right;
      overflow: hidden;
}
.top_in_right a{
      display: block;
      color: #999;
      float: left;
      line-height: 28px;
      padding: 0 10px;
      cursor: pointer;
      text-decoration: none;
      color: #666;
      cursor: pointer;
}
.top_in_right .red{
     color:#ae0f17
}
.top_in_1{
      float: left;
      /* overflow: hidden; */
}
.clearfix:after {
      content: "";
      display: block;
      clear: both;
  }
.top_in_2{
      float: right;
      overflow: hidden;
}
.line{
      color: #ddd;
      margin: 0 8px;
      float: left;
}
.header{
      width: 100%;
      height: 115px;
      min-width: 990px;
}
.header_in{
      height: 115px;
}
.header_left{
      width: 404px;
      height: 93px;
      position: relative;
      display: block;
      overflow: hidden;
      float: left;
}
.header_left_logo{
      width: 121px;
      font-size: 0;
      margin-top: 18px;
      display: block;
      float: left;
}
.header_h1{
      font-size: 0;
      display: inline;
}
.header_left_logo a{
      display: block;
}
.header_left_logo_nearlogo{
      display: block;
      margin-top: 18px;
      float: left;
}
.srh_lab{
      position: relative;
      height: 40px;
      line-height: 38px;
      border: 1px solid #ddd;
      box-sizing: border-box;
      border-radius: 4px 0 0 4px;
      display: block;
      color: #999;
      cursor: text;
      float: left;
      width: 394px;
      height: 40px;
      font-size: 14px;
      margin-top: 37px;
}
.header_lab{
      position: relative;
      width: 316px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #ddd;
      box-sizing: border-box;
      border-radius: 4px 0 0 4px;
      display: block;
      color: #999;
      cursor: text;
      float: left;
}
.header_srh_icon{
      position: absolute;
      top: 11px;
      left: 7px;
      display: block;
      background-image: url(https://bstatic.wbiao.co/public/sprites/d/d.png?20190319);
      background-position: -193px -346px;
      background-size: 475px;
      width: 16px;
      height: 16px
}
.header_ipt_txt{
      width: 286px;
      position: absolute;
      left: 30px;
      color: #ccc;
      z-index: 1;
}
.header_ipt_new{
      width: 286px;
      height: 100%;
      padding-left: 30px;
      border: 0;
      display: block;
      color: #333;
      font-size: 14px;
      position: relative;
      z-index: 10;
      background: rgba(255,255,255,0);
}
.header_searchbtn{
      width: 76px;
      height: 40px;
      cursor: pointer;
      font-size: 14px;
      color: #fff;
      border-radius: 0 4px 4px 0;
      border: 0;
      background-image: linear-gradient(-270deg,#da6666 0,#b33636 100%);
      float: left;
}
.header_right_ewm{
      float: right;
}
.nav{
      position: relative;
      width: 100%;
      margin: 0 auto
}
.nav_in{
      overflow: hidden;
      margin: 0 auto;
}
.nav_left{
      width: 202px;
      height: 48px;
      line-height: 48px;
      margin-right: 20px;
      float: left;
}
.nav_left_title{
      height: 48px;
      line-height: 48px;
      display: block;
      padding: 0 16px;
      font-size: 14px;
      color: #fff;
      background-image: linear-gradient(269deg,#b34747 1%,#cc5252 98%);
      background-color: #b32424;
}
.nav_all_icon{
      display: inline-block;
      float: right;
      margin-top: 16px;
      background-image: url(https://bstatic.wbiao.co/public/sprites/a/a.png?152023319);
      background-position: -280px -325px;
      background-size: 589px;
      width: 14px;
      height: 14px;
}
.nav_left_menu{
      display: block;
      background: rgba(255,255,255,.9);
      width: 202px;
      height: 460px;
      position: absolute;
      z-index: 88;
      background: #e6e6e6;
      box-shadow: 2px 0 4px 0 rgba(0,0,0,.1), -2px 0 4px 0 rgba(0,0,0,.1);
}
.nav_menu_box{
      height: 57.5px;
      overflow: hidden;
      box-shadow: inset -20px -7px 7px -15px rgba(0,0,0,.04);
      padding-left: 8px;
      border-left: 4px solid #e6e6e6;
      width: 192px;
      margin-left: -1px;
}
.nav_menu_box:hover{
      background: #fff;
      box-shadow: none;
      border-left: 4px solid #fa9829;
}
.nva_menu_line{
      display: none;
      content: '';
      width: 4px;
      background-color: #ccaa7a;
      float: left;
      font-style: normal;
}
.fl{
      float: left;
}
.nav_menu_dt_a{
      color: #4d4d4d;
      float: left;
      margin-right: 4px;
      font-weight: 700;
      line-height: 57.5px;
}
.nav_menu_dd1{
      overflow: hidden;
      height: 57.5px;
      color: #ccc;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
      display: block;
}
.nav_menu_dd_a{
      padding: 0;
      margin-right: 3px;
      line-height: 57.5px;
      color: #666;
}
.nav_menu_dd_a:hover{
      text-decoration: underline;
      color: #333;
}
.nav_right{
      height: 48px;
      float: left;
}
.nav_right li{
      margin-left: 24px;
      float: left;
      position: relative;
      display: list-item;
      text-align: -webkit-match-parent;
}
.nav_right li a{
      height: 41px;
      line-height: 41px;
      font-size: 14px;
      color: #333;
      display: block;
      position: relative;
}
.nav_right li a:hover{
      border-bottom: 3px solid #cc5252;
}
.nav_right .circle::before{
      content: "";
      position: absolute;
      right: -6px;
      top: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #b32424;
}
.main{
      padding-bottom: 60px;
      background-color: #f5f5f5;
      width: 100%;
      min-width: 990px;
      margin: 0 auto;
      background: #fff;
}
.main_baner{
      position: relative;
      overflow: hidden;
      width: 1583px;
      margin: 0 auto;
}
.main_top_shadow{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-image: linear-gradient(0deg,rgba(0,0,0,0) 0,#000 100%);
      opacity: .08;
      z-index: 89;
}
.main_binner_container{
      height: 460px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      /* padding: 0; */
      /* z-index: 1; */
}
.wrapper{
      width: 1583px;
      height: 460px;
      position: relative;
      }
.slide{
      width: 1583px;
      height: 460px;
      position: relative;
}
.wrapper .slide .lazy_load{
      background: #e6e6e6 url(https://static.wbiao.co/p/pc/images/1/bitmap.png) no-repeat center center;
      height: 460px;
      width: 1583px;
      display: block;
      overflow: hidden;
      position: relative;
}
.wrapper .slide .lazy_load img{
      width: 100%;
      height: 100%;
      display: block;
}
.slide-active{
      z-index: 1;
}
.button-next,.button-prev{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      z-index: 999;
}
.button-next{
      width: 36px;
      right: 50%;
      margin-right: -600px;
      width: 30px;
      height: 60px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-indent: -999em;
      background: 0 0;
      margin-top: 0;
      z-index: 10;
      cursor: pointer;
}
.btn_next_icon1{
      display: block;
      background-image: url(https://bstatic.wbiao.co/public/sprites/d/d.png?20190319);
      background-position: -142px -114px;
      background-size: 475px;
      width: 36px;
      height: 60px;
}
.btn_next_icon1:hover{
/* .btn_next_icon2{ */
      /* margin-top: -60px; */
      display: none;
      display: block;
      background-image: url(https://bstatic.wbiao.co/public/sprites/d/d.png?20190319);
      background-position: -188px -114px;
      background-size: 475px;
      width: 36px;
      height: 60px;
}
.button-prev{
      width: 36px;
      left: 50%;
      margin-left: -398px;
      width: 30px;
      height: 60px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-indent: -999em;
      background: 0 0;
      margin-top: 0;
      right: auto;
}
.btn_pre_icon1{
      display: block;
      background-image: url(https://bstatic.wbiao.co/public/sprites/d/d.png?20190319);
      background-position: -234px -114px;
      background-size: 475px;
      width: 36px;
      height: 60px;
}
.btn_pre_icon1:hover{
/* .btn_pre_icon2{ */
      /* margin-top: -60px; */
      display: block;
      background-image: url(https://bstatic.wbiao.co/public/sprites/d/d.png?20190319);
      background-position: -280px -114px;
      background-size: 475px;
      width: 36px;
      height: 60px;
}
.pagination{
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.pagination-bullets{
    bottom: 10px;
    left: 0;
    width: 100%;
    width: auto;
    position: absolute;
    height: 14px;
    bottom: 22px;
    z-index: 51;
    left: 50%;
    margin-left: -300px;
}
.pagination-bullet{
    /* width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2; */
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    width: 6px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-indent: -9999px;
    opacity: .5;
    background: 0 0;
}
.pagination-bullet-active{
      /* opacity: 1;
      background: #007aff; */
      width: 8px;
      height: 8px;
      border: 3px solid #ccaa7a;
      opacity: 1;
      background-color: #fff;
}
/* fade专用样式 */
.container.container-fade .slide{
      position: absolute;
}

.container.container-slide .wrapper{
      display: flex;
}

