@charset "utf-8";
/* CSS Document */
body,p,hr,input,h1,h2,h3,h4,h5,h6,ol,ul,dd,dl,td,th,fieldset,legend,option,textarea,button{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#000;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
img{border:none;display:block;}
input{outline:none;}
body{font-family:"微软雅黑";font-size:14px;color:#000;}
/*网页上常见的效果，并不是绝对的，选择性的解除注释即可：添加鼠标移动到超链接上时，会在超链接文本下面添加下划线的效果*/
a:hover{}  /* a:hover{text-decoration:underline;} */
/* 万能清除法 */
.clearfix:after{
	content:"";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}	/*针对ie8及以上的浏览器的高度塌陷*/
.clearfix{zoom:1;}  /*针对ie7及以下的浏览器的高度塌陷*/

/**/
/* table{border-collapse:collapse;}/*调整相邻单元格间距消除重复的，边距消融一半。*/
table{width:500px;height:300px;border:1px solid #333;border-spacing:0;}/*调整相邻单元格间距*/
td,th{border:1px solid #000;} */