*{
    margin: 0;
    padding: 0;
}
#container{
    width: 600px;
    height: 400px;
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
.firework{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;  
}