body{
    background: #f4f4f4;
}

.container{
    margin-top: 107px;
    overflow: hidden;
    font-size: 16px;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
}

.box{
    background-color: #fff;
    float: left;
    margin: 0 30px 30px 0;
    width: 276px;
    position: relative;
}
.box img{
    display: block;
    border: none;
    height: 100%;
    width: 100%;
}

.title{
    color: #686868;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    margin: 0 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    padding: 30px 15px 20px 15px;
    line-height: 22px;
}
.group-price{
    color: #111;
    font-size: 22px;
    line-height: 22px;
}

.pagination{
    position: absolute;
    bottom: 10%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}
.pagination span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ddd;
    color: #333;
    box-shadow: 0 0 5px #282828;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
}
.pagination span.active{
    background: antiquewhite;
    box-shadow: 0 0 5px #282828;
}