.container-wrapper{
    margin-top: 20px;
    position: relative;
    width: 950px;
    overflow: hidden;
}
.container{
    width: 980px;
}
.box-wrapper{
    float: left;
}
.box{
    margin: 0 11px 14px 0;
    position: relative;
    overflow: hidden;
    width: 227px;
    background-color: #f8f8f8;
    border: 1px solid #e2e2e2;
}
.photo{
    padding: 11px 11px 0 11px;
    min-height: 62px;
    _height: 62px;
    position: relative;
}
.img{
    margin: 0 auto;
    display: block;
}
.box p{
    padding: 6px 11px 0 11px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
}
.toobar{
    padding: 5px 11px 8px 11px;
    text-align: right;
}
.comment{
    overflow: hidden;
    zoom: 1;
    padding: 8px 11px 10px 11px;
    background: url(https://img.t.sinajs.cn/t4/appstyle/photo/images/common/dotted.gif?id=1386663527255) repeat-x 0 -1px;
}