.box{
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561025372039&di=715da84132972441eb2c0ccdac4da639&imgtype=0&src=http%3A%2F%2Fwx1.sinaimg.cn%2Forj360%2F005KFv0aly1fm782ba536j30zk0qowka.jpg) no-repeat;
    width: 600px;
    height: 300px;
    margin:0 auto;
    background-size: contain;
}