.w1190{
    width: 1190px;
    margin: 0 auto;
}
/* 头 */
.hide{
    height: 80px;
    width: 100%;
    margin: 0 auto;
    background: #f6f5f4;
}
.hide span{
    width: 20px;
    height: 20px;
    background: #ddd;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 206px;
    font-size: 30px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    cursor: pointer;
}
.hide  a{
    width: 1190px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
/* 导航 */
.nav{
    background: #e3e4e5;
}
.nav .w1190{
    height: 30px;
    position: relative;
}
.nav .w1190 h1{
    width: 190px;
    height: 170px;
    position: absolute;
    top: 0;
    left:0 ;
    transition:  left 0.2s;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png)
}
.nav .w1190 h1:hover{
    background: url(https://img1.360buyimg.com/da/jfs/t1/16134/5/11584/77878/5c90a4bdE5ae12937/38714fb6679b8daf.gif?v=0.4061590679023295) #fff;
}
.nav .w1190 .reder{
    position: absolute;
    left: 200px;
    color: #999;
    line-height: 30px;
    padding: 0 5px;
    display: inline-block;
}
.nav .w1190 .reder:hover{
    background: #fff;
}
.nav .w1190 .reder:hover .place{
    display: block;
}
.nav .w1190 .place{
    display: none;
    width: 320px;
    position: absolute;
    top: 30px;
    left: 0px;
    background: #fff;
    height: 450px;
} 
.nav .w1190 .place .places li{
    width: 20%;
    margin: 0 0;
    text-align: center;
}
.nav .w1190 .place .places{
    margin: 0 20px;
    overflow: hidden;
    border-bottom: 1px solid #f6f5f4;
}
.nav .w1190 .place p{
    margin:10px 20px;
}
.nav .w1190 .place p a:hover{color: #e33333;}
.nav .w1190 .place dl{ 
    border-top: 1px solid #f6f5f4;
    margin: 0 20px;
}
.nav .w1190 .place dt{margin: 5px 0;}
.nav .w1190 .place dd{float: left;width: 50%;}
.nav .w1190 .place dd:hover{color: #e33333;}

.nav .w1190 .a {
    float: right;
}
.nav .w1190  ul>li{
    float: left;
    margin: 0 10px;
    line-height: 30px;
    
}
.nav .w1190  ul i{
    border-right: 1px solid #999;
    margin-left: 14px;
    height: 12px;
}
.nav .w1190  ul a:hover{
    color: #f10215;
}
 .nav1 i,.nav5 a{
    color: #f10215;
}
.nav .w1190 .nav4 a:hover{
    color: #e33333;
}
.nav3::after,.nav3::after,.nav3::after,.nav3::after{
    content: "";
}

/* 搜索部分 */
.search {background: turquoise;}
.search .w1190{height: 900px;}
.search .sea{padding: 30px 0 0 300px;height: 32px;width: 502px; }
.search .sea .in{width: 450px;height: 30px;border: 1px solid transparent;font-size: 14px;line-height: 25px;background: #fff;
    float: left;}
.search .sea .btn{float:left;height: 33px;width: 50px;border: 1px solid transparent;background: #f10215;} 






