*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color: #282828;font-size: 14px;}
bady{color: #282828; font-size: 14px;}
.head{width: 1349px; height: 56px; background: #ffe300; margin: 0 auto;}
.nav{width: 1209px; height: 56px; margin: 0 auto; position: relative;}
.nav .logo{width:120px; height: 25px; position: absolute; left: 0; top: 18px;}
.nav img{display:block; width: 120px; height:23px; }
.nav .nav-left{height: 56px; width: 638px; text-align: center;margin: 0 auto;}
.nav .nav-left li{float:left; line-height: 56px;}
.nav .nav-left .l1{padding:0 24px; }
.nav .nav-left .l2{padding:0 24px; }
.nav .nav-left .l3{padding:0 24px; }
.nav .nav-left .l4{padding:0 24px; }
.nav .nav-left .l5{padding:0 24px; }
.nav .nav-left .l6{padding:0 24px; }
.nav .nav-left .l7{padding:0 24px; position: relative;}
.nav .nav-left .l7 {position: relative;}
.nav .nav-left .l7 ul{position: absolute;left: 0;top: 57px;width: 152px;display: none;}
.nav .nav-left .l7:hover ul{display: block;}
.nav .nav-left .l7 ul li{ width: 152px;height:44px; position: relative;}
.nav .nav-left .l7:hover ul li a{position: absolute;left: 20px;line-height: 44px;color: #282828；}
.nav .nav-left .l7:hover ul a{color:#282828;}
.nav .nav-left .l7:hover ul{background: white;}
.nav .nav-left .l7 ul li:hover{background: #ffe300;}
.nav .nav-left .l1 a{font-weight:600;}
.nav .nav-left .l8{height: 56px;padding: 0 20px;position: relative;}
.nav .nav-left .l8 sup
{
    display:inline-block; width: 8px;height: 8px;border-radius: 50%;
    background: #ff4a3b;margin: 0 0 2px 3px;
    position: absolute;top: 20px;right: 10px;
}
.nav .nav-left .l8 i{display: inline-block;width: 20px;height: 56px;background: url(../images/nav-more.svg) no-repeat;background-position:left center;  }
.nav .search{width: 60px; height: 56px;position: absolute; right: 192px; top: 0;line-height: 56px;text-align: center;}
.nav .search i{background:url(../images/nav-search.svg) no-repeat; display: inline-block; width: 20px;height: 20px;margin-top:18px; }
.nav .up{width: 62px; height: 56px;position: absolute; right: 130px; top: 0;line-height: 56px;text-align: center;}
.nav .up i{background:url(../images/nav-upload.svg) no-repeat; display: inline-block; width: 30px;height: 20px;margin-top:18px; }
.nav .nav-right{width: 117px;height: 56px;position: absolute;right: 0;top: 0;}
.nav .nav-right .r1{float: left;width: 44px;line-height: 56px;margin-left:20px;}
.nav .nav-right .r1 i{display: inline-block; width: 1px;height: 10px;background: #444; margin-left:10px; }
.nav .nav-right .r2{float: left;width: 28px;line-height: 56px;margin-left:20px;}
.nav .nav-left .l8 {position: relative;}
.nav .nav-left .l8 ul{position: absolute;left: 0;top: 57px;width: 152px;display: none;}
.nav .nav-left .l8:hover ul{display: block;}
.nav .nav-left .l8 ul li{ width: 152px;height:44px; position: relative;}
.nav .nav-left .l8 ul li a{position: absolute;left: 20px;line-height: 44px;color: #282828；}

.nav .nav-left .l2 ul li span{display:inline-block;width: 90px; height:18px; position: relative;}
.nav .nav-left .l2 ul li span i{display:inline-block; width:1px; height:18px; background: #eaeaea; position: absolute; right: 0px;top: 20px;}

.nav .nav-left .l2 .two{border-bottom:1px solid #eaeaea;padding-bottom:20px; }
.nav .nav-left .l2 .one div{ position: absolute;left: 0px;}
.nav .nav-left .l2 .two div{ position: absolute;left: 0px;}
.nav .nav-left .l2 .three div{ position: absolute;left: 0px;bottom:-5px;}
.nav .nav-left .l2 {position: relative;}
.nav .nav-left .l2 ul{position: absolute;left: 0;top: 57px;width: 660px;display:none;}
.nav .nav-left .l2:hover ul{display: block;}
.nav .nav-left .l2 ul li{ width: 660px;height:40px; position: relative;}
.nav .nav-left .l2:hover ul{background: white;}
.nav .nav-left .l2 ul li:hover{background: white;}
.nav .nav-left .l2:hover ul li span a{color:#282828;}
.nav .nav-left .l2 ul li span a:hover{background: #ffe300;}



.nav .nav-left .l4 {position: relative;}
.nav .nav-left .l4 ul{position: absolute;left: 0;top: 57px;width: 152px;display: none;}
.nav .nav-left .l4:hover ul{display: block;}
.nav .nav-left .l4 ul li{ width: 152px;height:44px; position: relative;}
.nav .nav-left .l4:hover ul li a{position: absolute;left: 20px;line-height: 44px;color: #282828；}
.nav .nav-left .l4:hover ul a{color:#282828;}
.nav .nav-left .l4:hover ul{background: white;}
.nav .nav-left .l4 ul li:hover{background: #ffe300;}

.nav .nav-left .l5 {position: relative;}
.nav .nav-left .l5 ul{position: absolute;left: 0;top: 57px;width: 152px;display: none;}
.nav .nav-left .l5:hover ul{display: block;}
.nav .nav-left .l5 ul li{ width: 152px;height:44px; position: relative;}
.nav .nav-left .l5:hover ul li a{position: absolute;left: 20px;line-height: 44px;color: #282828；}
.nav .nav-left .l5:hover ul a{color:#282828;}
.nav .nav-left .l5:hover ul{background: white;}
.nav .nav-left .l5 ul li:hover{background: #ffe300;}


.nav .nav-left .l6 {position: relative;}
.nav .nav-left .l6 ul{position: absolute;left: 0;top: 57px;width: 152px;display: none;}
.nav .nav-left .l6:hover ul{display: block;}
.nav .nav-left .l6 ul li{ width: 152px;height:44px; position: relative;}
.nav .nav-left .l6 ul li a{position: absolute;left: 20px;line-height: 44px;color: #282828；}
.nav .nav-left .l6:hover:hover ul a{color:#282828;}
.nav .nav-left .l6:hover ul{background: white;}
.nav .nav-left .l6 ul li:hover{background: #ffe300;}

.nav .nav-left li:hover{background-color: #282828;}
.nav .nav-left li:hover a{color:#ffe300;}
.nav .search:hover{background-color: #282828;}
.nav .up:hover{background-color: #282828;}
.nav .nav-left .l8:hover ul a{color:#282828;}
.nav .nav-left .l8:hover ul{background: white;}
.nav .nav-left .l8 ul li:hover{background: #ffe300;}

.photo{width: 1130px; height:286px; margin: 0 auto;margin-top: 20px; }
.photo img{width: 1130px; height: 286px;margin: 0 auto;border-radius: 4px;}
.l2 .one div span a{display: inline-block; width:42px; height: 28px; line-height: 28px;}
.l2 .two div span a{display: inline-block; width:42px; height: 28px; line-height: 28px;}
.photo-bot{width:1130px; height: 168px; margin: 0 auto;margin-top:20px; }
.photo-bot div{float: left;width: 210px; height: 168px; margin-right:20px;}
.photo-bot .div-5{margin-right:0px; }
.photo-bot div img{float: left;width: 210px; height: 168px; border-radius: 4px;}
