*{
    margin: 0;
    padding: 0;
}
/* 大炮 */
#pao{
    width: 50px;
    height: 120px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -25px;
    background: url(../image/炮.jpg) no-repeat center;
    background-size: 100%;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
    color:red;
    text-shadow: 0 0 5px #fff;
    font-weight: 1000;
}
/* 鱼 */
.fish{
    width: 100px;
    height: 100px;
    background: url(../image/鱼.jpg) no-repeat center;
    background-size: 100%;
    line-height: 120px;
    font-weight: 1000;
    text-shadow: 0 0 5px #fff;
    text-align: center;
    color:yellowgreen;
    font-size: 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
}
/* 鱼死了之后 */
.fish.die{
    transition: all 1s;
    transform: rotate(180deg);
}
/* 炮弹 */
.bullet{
    width: 30px;
    height: 30px;
    background: url(../image/炮弹.jpg) no-repeat center;
    background-size: 100%;
    position: absolute;
    transition: all 0.5s;
}
/* 一条线 */
.line{
    height: 3px;
    background: linear-gradient(to right, red, blue,yellow,green,pink,orange,purple,yellowgreen);
    position: absolute;
    top: 580px;
    width: 100%;
    z-index: 3;
}
/* 分数 */
#score_wrap{
    width: 160px;
    height: 100px;
    position: absolute;
    bottom: 50px;
    left:80%;
    font:25px "楷体";
    font-weight: bold;
    z-index: 5;
}
/* 倒计时 */
#time_wrap{
    width: 160px;
    height: 100px;
    position: absolute;
    bottom: 50px;
    left:10%;
    font:25px "宋体";
    font-weight: bold;
    z-index: 5;
}
#time{
    color:red;
}
/* 重新开始 */
#repe{
    width: 120px;
    height: 30px;
    position: absolute;
    bottom: 100px;
    left:66%;
    font:20px "楷体";
    z-index: 5;
    border-radius:5px;
    background-color:lightgoldenrodyellow ;
    cursor: pointer;
    outline: none;
}