/* 最顶部的可叉掉的广告 */
.topPiLi{
	height: 80px;
	background: #000;
}
.topPiLi a{
	display: block;
    width: 100%;
    height: 80px;
    background: url(../img/top1.jpg) no-repeat 50% 0;
}
.topPiLi i{
	cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    background: rgb(45,45,45);
    opacity: .3;
    width: 20px;
    text-align: center;
    line-height: 20px;
}

.w1190{
	width: 1190px;
	margin: 0 auto;
}

/* 顶部的小导航栏 */
.littleNav{
	height: 30px;
	background: #e3e3e5;
	color: rgb(153,153,153);
	line-height: 30px;
}
.littleNav span{
	margin-left: 200px;
}
.littleNav ul{
	height: 30px;
	float: right;
}
.littleNav ul li{
	float: left;
}
.littleNav ul i{
	display: inline-block;
	overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.littleNav ul b{
    width: 12px;
    height: 12px;
	display: inline-block;
	background: lightcoral;
	opacity: 0.3;
}
.littleNav ul li a{
	display: inline-block;
	margin: 0 7px;
}

/* 头部导航栏 */
.headNav{
	height: 140px;
	background: #666;
}


/* 右边的导航栏 */
.jd_right_bar{
	
}
jd_rTool_bar li{
	width: 34px;
    height: 35px;
    margin-left: 1px;
    /* position: relative;
    z-index: 2; */
    background-color: #7a6e6e;
}