@charset "utf-8";
/* CSS Document */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,th,td,fieldset,label,option,textarea,button,hr,legend,input{margin:0px;padding:0px;}
li{list-style:none;}
a{text-decoration:none;color:black;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
input{outline:none;}
body{}
img{border:none;display:block;}
table{border-collapse:collapse;}

