.top_box{
    position: fixed;
    right: 0;
    height: 100%;
    width: 5px;
    background: #878787;
    z-index: 22;
    top: 0;
}
.top_ul{
    top: 18%;
}
.top_ul, .bottom_ul {
    position: absolute;
    right: 5px;
}
.top_ul li, .bottom_ul li {
    margin-bottom: 2px;
}
.top_li1, .top_li3, .top_li4, .top_li5, .top_li6, .top_li7, .top_li8 {
    background: #878787;
    padding: 6px 6px;
    position: relative;
}
.top_li1 a{
    background-position: 0 0;
}
.li_img2, .li_img3, .li_img4, .li_img5, .li_img6, .li_img7, .top_li1 a, .top_btn b {
    background: url(http://www.i1515.com/image/top_icon.png) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
.tk_people, .tk_feedback {
    width: 280px;
    height: 136px;
    background: #fff;
    position: absolute;
    left: -280px;
    top: -20px;
    display: none;
    padding: 20px 0;
    border-radius: 5px;
    transition: border linear .2s,box-shadow linear .5s;
    -moz-transition: border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition: border linear .2s,-webkit-box-shadow linear .5s;
    outline: none;
    border-color: rgba(000,000,000,0.25);
    box-shadow: 0 0 8px rgba(000,000,000,0.25);
    -moz-box-shadow: 0 0 8px rgba(000,000,000,0.25);
    -webkit-box-shadow: 0 0 8px rgba(000,000,000,0.25);
}
.tk_people .triangle {
    left: 280px;
    top: 32px;
    border-left: 5px solid #fff;
}
.triangle, .tk_er .triangle {
    width: 0;
    height: 0px;
    border-left: 5px solid #666;
    border-right: 5px solid rgba(255,255,255,0);
    border-top: 5px solid rgba(255,255,255,0);
    border-bottom: 5px solid rgba(255,255,255,0);
    position: absolute;
    left: 66px;
    top: 10px;
}
.tk_peoimg {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 110px;
    margin-bottom: 15px;
}
.tk_peoimg img {
    max-width: 60px;
    max-height: 60px;
}
.tk_login {
    margin-left: 70px;
    overflow: hidden;
    margin-bottom: 20px;
}
.tk_login li{
    float: left;
}
.tk_login a {
    background: none;
    color: #c80000;
    width: 30px;
    height: 18px;
    line-height: 18px;
    padding: 0 10px;
}
.tk_login li:last-child a {
    border-left: 1px solid #ddd;
}
.tk_btn li:first-child {
    margin-left: 46px;
}
.tk_btn li {
    float: left;
    margin-right: 20px;
}
.tk_login li:hover, .tk_btn li {
    background: none !important;
}
.tk_btn li a {
    background: none;
    color: #333;
    color: #666;
    display: block;
    border-radius: 5px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    width: 86px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.top_li2 {
    padding: 6px 6px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background: #878787;
    position: relative;
}
.top_li2 .li_img2 {
    background-position: 0 -20px;
}
.top_li2 a, .top_li3 a, .top_li4 a, .top_li5 a, .top_li6 a, .top_li7 a {
    color: #fff;
}
.shop_num {
    background: #E80D0D;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    line-height: 15px;
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0 4px;
}
.top_li3 .li_img3 {
    background-position: 0 -40px;
}
.tk_box{
    display: none;
    position: absolute;
    color: #fff;
    text-align: center;
    width: 66px;
    height: 32px;
    line-height: 32px;
    background: #666;
    left: -66px;
    top: 0px;
}
.top_li4 .li_img4 {
    background-position: 0 -60px;
}
.bottom_ul{
    bottom: 10px;
}
.top_li5 .li_img5 {
    background-position: 0 -83px;
}
.top_li6 .li_img6 {
    background-position: 0 -102px;
}
.tk_feedback {
    top: -90px;
}
.tk_feedback .triangle {
    left: 280px;
    top: 102px;
    border-left: 5px solid #fff;
}
.feed_tit{
    text-align: center;
}
.feed_text, .feed_prompt {
    padding: 10px 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.feed_text textarea {
    width: 240px;
    height: 80px;
}
.feed_prompt {
    width: 240px;
    height: 80px;
    text-align: center;
    display: none;
    line-height: 90px;
}
.top_li7 .li_img7 {
    background-position: 0 -123px;
}
.tk_er {
    width: 141px;
    height: 158px;
    background: #666;
    position: absolute;
    top: -78px;
    left: -141px;
    display: none;
}
.tk_er p{
    text-align: center;
    color: #fff;
    padding-top: 10px;
}
.tk_er .triangle {
    top: 90px;
    left: 141px;
}
.tk_bg {
    background: #fff;
    width: 98px;
    height: 98px;
    position: absolute;
    top: 38px;
    left: 22px;
}
.tk_bg img {
    margin: 3px;
}
.top_btn{
    color: #666;
    display: block;
    background: #878787;
    padding: 0 5px;
}
.top_btn b {
    background-position: 2px -142px;
}
