body {
    color: #ddd;
}

form {
    width: 600px;
    height: 600px;
    background: darkslategrey;
    margin: 30px auto;
    overflow: hidden;
    position: relative;

}

h5 {
    color: orange;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 20px;
}

fieldset {
    border: none;
    margin-left: 50px;
    margin-top: 15px;
}

legend {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1em;
    color: skyblue;
}

#box {
    margin: 15px;
}

button {
    margin-left: 250px;
}

#levelBar {
    width: 150px;
    height: 20px;
    float: right;
    background: white;
    border-radius: 5px;
    margin-right: 200px;
}

#levelBar div {
    float: left;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    background: #ddd;
    color: white;
  
}

input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    float: right;
    border: none;
    margin-right: 150px;
}

#ma {
    width: 200px;
    height: 20px;
    float: right;
    margin-right: 150px;

}

#ma div,#ma input {
    width: 80px;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    background: white;
    float: right;
    color: blue;
    text-align: center;
}

#notBoard {
    width: 200px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 220px;
    background: white;
    border-radius: 5px;
    text-align: center;
    color: red;
    display: none;
}
#notBoard2{
    width: 200px;
    height: 20px;
    position: absolute;
    top: 260px;
    left: 235px;
    background: white;
    border-radius: 5px;
    text-align: center;
    color: red;
    display: none;
}
#star{
    float:right;
    color: red;
    margin-right: 3px;
}