.w1209{
    width: 1209px;
    margin: 0 auto;
}
.w1130{
    width: 1130px;
    margin: 0 auto;
}
/* 头部 */
.header{
    height: 56px;
    background: #ffe300;
}
.header h1 a{
    display: inline-block;
    width: 120px;
    height: 20px;
    background: url(https://static.zcool.cn/git_z/z/common/images/svg/logo.svg) no-repeat top left;
    margin-top: 18px;
    float: left;
}
.header .w1209>ul {
    display: inline-block;
    line-height: 56px;
    margin-left: 195px;
    float: left;
}
.header .w1209>ul>li,.logon {
    float: left;
}
.header .w1209>ul>li>a{
    color: #333;
    display: inline-block;
    padding:  0 24px;
}
.header .w1209>ul>.home a{
    font-weight: bold;
}
.header .w1209>ul .material a{
    padding: 0 42px 0 24px;
}
.header .spot>a{
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-more.svg) no-repeat center center;
    display: inline-block;
    width: 20px;
    height: 10px;
    background-size: 20px auto;
}
.header .search,.log_on{
    float: left;
    width: 60px;
    height: 56px;
    text-align: center;
}
.header .search a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search.svg?v=1) no-repeat;
    margin-top: 18px;
}
.log_on a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload.svg) no-repeat;
    margin-top: 18px;
}
.logon a{
    margin-left: 20px;
    line-height: 56px;
    color: #444;
}
.logon i{
    width: 1px;
    height: 10px;
    line-height: 56px;
    background: #444;
    display: inline-block;
    margin-left: 20px;
}
.header .w1209>ul>li:hover>a{
    background: #000;
    color: #ffe300;
}
.header .w1209>ul .spot:hover>a{
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-more-hover.svg) no-repeat center center;
    display: inline-block;
    width: 20px;
    height: 10px;
    background-size: 20px auto;
}
.header .w1209>ul .spot:hover{
    background: #000;
}
.search:hover ,.log_on:hover{
    background: #000;
}
.search:hover a{
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-search-hover.svg?v=1) no-repeat;
}
.log_on:hover a{
    background: url(https://static.zcool.cn/git_z/build/images/svg/nav-upload-hover.svg) no-repeat;
}
/* 二级菜单 */
.find{
    position: relative;
}
.find_list{
    position: absolute;
    top:56px;
    left:0;
    width:663px;
    background: #fff;
    height: 116px;
    display: none;
    padding: 0 30px;
    z-index: 10;
}
.find_list>ul{
    float:left;
    height:68px;line-height:28px;
    text-align:center;
    border-bottom: 1px solid #eaeaea;
}
.find_list>ul>li{
    float: left;
    min-width:76px;
    height:28px;
    line-height:28px;
    text-align:center;
    position:relative;
    margin:0 6px;
    margin-top: 5px;
}
.find_list>ul>li>a{
    display: inline-block;
    padding: 0 7px;
}
.find_list>ul>li i{
    width: 1px;
    height: 10px;
    background: #282828;
    display: inline-block;
    float: right;
    margin-top:9px;
}
.find_list>ul>li:hover a{
    background: #ffe300;
    border-radius: 4px;
}
.find:hover>.find_list{
    display: inline-block;
}
.find_list .find_link{
    padding: 0 15px;
}
.find_link a{
    margin-right: 40px;
    background: url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou.svg) no-repeat center right;
    background-size:10px 10px;
    padding-right: 15px;
}
.find_link b:hover a{
    color:#d36f16;
    background: url(https://static.zcool.cn/git_z/build/images/svg/gengduojiantou2.svg) no-repeat center right;
    background-size:10px 10px;
    padding-right: 15px;
}
/* 特惠 */
.preferential{
    height: 18px;
    font-size: 12px;
    color: #fff;
    background: #ea4335;
    padding: 0 3px;
    line-height: 18px;
    position: absolute;
    top: 10px;
    left: 82px;
}
.preferential i{
    position: absolute;
    left: 0;
    bottom: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ea4335;
}
.material_link .preferential{
    left: 52px;
}
/* 职位 */
.position ,.activity,.material,.curriculum,.spot{
    position: relative;
}
.position_link,.activity_link,.material_link,.curriculum_link,.spot_link{
    width: 155px;
    padding: 4px 0;
    background: #fff;
    position: absolute;
    top: 56px;
    left: 0px;
    display: none;
    line-height: 44px;
    z-index: 10;
}
.position_link a ,.activity_link a,.material_link a,.curriculum_link a ,.spot_link a{
    display: block;
    padding-left: 24px;
}
.position_link p:hover>a,.activity_link p:hover, .material_link p:hover ,.curriculum_link p:hover ,.spot_link p:hover{
    display: block;
    background: #ffe300;
}
.position:hover .position_link,.activity:hover .activity_link , .material:hover .material_link ,.curriculum:hover .curriculum_link ,.spot:hover .spot_link{
    display: inline-block;
}
/* 轮播图 */
.banner{
    height: 286px;
    margin-top: 20px;
}
.banner ul{
    overflow: hidden;
    height: 286px;
}
.banner ul img{
    height: 286px;
    width: 1130px;
}
.banner .w1130{
    position: relative;
}
.control{
    display: none;
}
.banner>.w1130:hover .control{
    display:block;
}
 .bottom, .bottom:hover{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2) no-repeat ;
    font-size: 0;
    width: 52px;
    height: 286px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 80px;
    background-position: 140px  center;
    display: inline-block;
}
 .bottom:hover{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrowhover.svg?v=2) no-repeat;
    width: 52px;
    height: 286px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 80px;
    background-position: 140px  center;
    display: inline-block;
}
 .top{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2) no-repeat ;
    font-size: 0;
    width: 52px;
    height: 286px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 80px;
    background-position: 20px  center;
    display: inline-block;
}
.top:hover{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrowhover.svg?v=2) no-repeat ;
    width: 52px;
    height: 286px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 80px;
    background-position: 20px  center;
    display: inline-block;
}
/* pic */
.pic{
    height: 170px;
    margin-top: 20px;
    margin-bottom: 55px;
}
.pic .margin_r{
    margin-right: 0;
}
.pic li{
    float: left;
    margin-right: 20px;
}
.pic li img{
    width: 210px;
    height: 168px;
    border-radius: 4px;
}
/* nav */
.nav{
    height: 56px;
}
.nav ul{
    font-size: 16px;
    color: #999;
}