* {
    margin: 0;
    padding: 0;
}

#pao {
    width: 50px;
    height: 120px;
    position: absolute;
    bottom: 10px;
    margin-left: -25px;
    left: 50%;
    background: url(../images/炮.jpg) no-repeat center;
    background-size: 100%;
    text-align: center;
    color: red;
    font-size: 30px;
}
hr{
    height: 2px;
    background:#000;
    margin-top:600px;
}
#pao span {
    position: relative;
    bottom: -40px;
    left: -2px;
}

.fish {
    width: 160px;
    height: 160px;
    background: url(../images/鱼.jpg) no-repeat center;
    position: absolute;
    background-size: 100%;
    text-align: center;
    color: red;
    font-size: 30px;
    transform: rotate(0deg);
    /* border:2px solid #f00; */
}

.fish.die {
    transition: all 1s;
    transform: rotate(180deg);
}

.bullet {
    background: url(../images/炮弹.jpg) no-repeat center;
    position: absolute;
    background-size: 100%;
    width: 50px;
    height: 50px;
    transition: all .5;
}

#f_span {
    position: relative;
    left: -5px;
    top: 80px;
}