body{
    background-color: #f0f3ef;
}
.topAd{
    width:100%;
    height: 80px;
    background: #f6f5f4;
}
.topAd .adBox{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.topAd a{
    display: block;
    width: 1190px;
    height: 100%;
}
.topAd .cancelBtn{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgb(45,45,45);
    opacity: .3;
    width: 20px;
    height: 20px;
}
.w1190{
    width: 1190px;
    margin: 0 auto;
}

/* 导航栏 */
.nav{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    
}
.nav .w1190{
    position: relative;
}
.nav .nav1{
    float:right;
}
.nav .nav1 li{
    float: left;
    line-height: 30px;
    margin-right: 8px;
    padding: 0 7px;
}
.nav .nav1 li a{
    color: #999;
    font-size: 12px;
}
.nav .nav1 li:nth-child(2n){
    width: 1px;
    height: 10px;
    background: #999;
    margin-top: 10px;
    padding: 0;
}

.nav .nav1 li:nth-child(9) a{
    color : red;
}
.nav .nav1 .creAcc{
    color: #e33333;
}
.nav .nav1 .phone{
    position: relative;
}
.nav .nav1 .phone .maBox{
    position: absolute;
    top: 30px;
    left:0;
    width: 68px;
    height: 68px;
    background: #f6f6f6 url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/mobile_qrcode.png) 50% no-repeat;

}
.nav .nav1 .phone::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
.nav  .site{
    float: left;
    width: 58px;
    height: 30px;
    margin-left: 210px;
    text-align: center;
    position: relative;
}
.nav .site .dropdown {
    z-index: 1;
    width: 300px;
    height: 400px;
    background: white;
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
}
.nav .site .dropdown li{
    width: 60px;
    height: 28px;
    float: left;
}
.nav .site .dropdown li:nth-child(1) a{
    background: #e33333;
    color: white;
}
.nav .site .dropdown li:hover a{
    background:black;
    opacity: 0.5;
}
.nav .site .dropdown a{
    display: block;
    font-size: 12px;
    width: 45px;
    height: 23px;
    color: #999;
    line-height: 23px;
    text-align: center;
    margin: auto;

}


.nav .site:hover{
    background: white;
}
.nav .site:hover .dropdown{
    display: block;
}
.nav .site .beijing{
   line-height: 30px;
   font-size: 12px;
   color: #999;
}
.nav #logoGif{
    width: 190px;
    height: 170px;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    box-shadow: 0 0 3px #888888;
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png)
}
.nav #logoGif:hover{
    background-image: url(https://img1.360buyimg.com/da/jfs/t1/16134/5/11584/77878/5c90a4bdE5ae12937/38714fb6679b8daf.gif?v=0.937178192243689)

}

/* header */
.header{
    width: 100%;
    height: 140px;
}
.header .w1190{
    overflow: hidden;
}
.header .form{
    margin-left: 320px;
    margin-top: 25px;
    width: 550px;
    height: 35px;
    float: left;
    position: relative;
}
.header input{
    width: 500px;
    height: 35px;
    float: left;
    border: none;
   
}
.header button{
    width: 50px;
    height: 35px;
    float: left;
    border: none;
    background: #f10215;
}
.header .form .cama{
    position: absolute;
    display: block;
    top: 10px;
    right: 70px;
    width: 19px;
    height: 15px;
    background: url(https://misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png)
}
.header .shopCar{
    width: 190px;
    height: 35px;
    float: left;
    background: white;
    margin-top: 25px;
    margin-left: 30px;
}
.header .shopCar a{
    display: block;
    width: 190px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #f10215;
    text-align: center;
   
}

.header  .hotwords{
    float: left;
    margin-top: 10px;
    width: 550px;
    height: 20px;
    margin-left: 320px;
}
.header .hotwords a{
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    margin-right: 10px;
}

.header .hotwords a:nth-child(1){
    color: #e33333;
}

.header .navitem {
    float: left;
    width: 790px;
    margin-left: 230px;
    margin-top: 30px;
}
.header .navitem a{
    float: left;
    margin-left: 25px;
    color: black;
    font-size: 14px;
}

/* 轮播图广告 */

.bannerad{
    width: 100%;
    height: 480px;
}
.bannerad .w1190{
    overflow: hidden;
}
.bannerad .left-nav{
    width: 190px;
    height: 480px;
    float: left;
    background:white;
}
.bannerad .left-nav li{
    width: 100%;
    height: 26px;
}
.bannerad .left-nav li:hover{
    background: #ddd;
}
.bannerad .left-nav li a{
    text-align: center;
    display: block;
    height: 100%;
    line-height: 26px;
    font-size: 14px;
    color: #626262;
}

.bannerad .banner{
    width: 590px;
    height:470px ;
    float: left;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.bannerad .banner .wrapper{
    width: 5310px;
    height: 470px;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerad .banner .button-next{
    width: 24px;
    height: 40px;
    background: black;
    opacity: 0.4;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
}
.bannerad .banner .button-prev{
    width: 24px;
    height: 40px;
    background: black;
    opacity: 0.4;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -20px;
}
.bannerad .banner .wrapper a{
    float: left;
    width: 590px;
    height: 470px;
}
.bannerad .three-box{
    width: 190px;
    height: 470px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.bannerad .three-box .box{
    width: 190px;
    height: 150px;
    margin-top: 10px;
    float: left;
}
.bannerad .three-box .box:nth-child(1){
    margin: 0;
}
.bannerad .three-box img{
    width: 100%;
    height: 100%;
}
.bannerad .right-nav{
    width: 190px;
    height: 470px;
    float: left;
    background: yellow;
    margin-top: 10px;
}
.bannerad .right-nav .box1{
    width: 190px;
    height: 150px;
    float: left;
    position: relative;
    background: white;
}
.bannerad .right-nav .box1 .pic{
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -34px;
}
.bannerad .right-nav .box1 a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bannerad .right-nav .box1 p{
    margin-top:  60px;
    margin-left: 40px;
    font-size: 12px;
    color: #888;
    line-height: 1em;
}
.bannerad .right-nav .box1 .logn{
    margin-left: 65px;
    margin-top: 10px;
    width: 100%;
    height: 20px;
}
.bannerad .right-nav .box1 .logn a{
    font-size: 12px;
    color: #666;
    float: left;
    margin-right: 5px;
    line-height: 1em;
}
.bannerad .right-nav .box1 .button1,.button2{
    width: 70px;
    height: 25px;
    border-radius: 25%;
    box-shadow: 0 0 5px ;
    float: left;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}
.bannerad .right-nav .box1 .button1{
  background: white;
  margin: 0 10px 0 20px;
}
.bannerad .right-nav .box1 .button2{
       color:   #e43f3b;;
   background: #363634;
}
.bannerad .right-nav .box2{
    width: 190px;
    height: 130px;
    margin-top: 150px;
    background:white;

}
.bannerad .right-nav .box2 .title{
    width: 100%;
    margin-left: 15px;
    color: #1e1e1e;
    margin-bottom: 15px;
}
.bannerad .right-nav .box2 .title h2{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-right: 75px;
}
.bannerad .right-nav .box2 .title .more{
    font-size: 12px;
    color: #999;
}
.bannerad .right-nav .box2 .news{
    display: block;
    width:90%;
    height: 20px;
    color: #999;
    overflow:hidden;
	white-space:nowrap;
    text-overflow:ellipsis;
    line-height: 20px;
    margin-left: 10px;
    font-size: 12px;
}
.bannerad .right-nav .box2 .news span{
    display: inline-block;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    background-color: #e47f7f;
    margin-right: 6px;
}