* {
    margin: 0;
    padding: 0;
}

.container {
    /* width: 1000px; */
    margin: 0 auto;
    font-size: 12px;
    color: #666;
}

.over {
    position: relative;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    width: 982px;
}

.over::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.wrapper{
    height: 13734px; 
    position: relative;
    visibility: visible;
    /* 以上是行内样式 */

    zoom: 1;
    overflow: hidden;
    /* visibility: hidden; */
    margin-left: auto;
    margin-right: auto;
}
.boxWrapper{
    top: 0px;
    left: 0px;
    /* 以上是行内样式 */

    float: left;
    height: auto;
    margin: 0 20px 20px 0;
    border-top: 0 none;
    background-color: #fff;
    border-radius: 2px;
    /* position: absolute; */
}
.box{
    border-bottom: 1px solid #e0e0e0;
    width: 235px;
    padding: 0;
    border-radius: 2px 2px 0 0;
}
.boxImg{
    /* height: 352px; */
    /* 以上是行内样式 */

    position: relative;
    min-height: 100px;
    float: none;
    overflow: hidden;
    width: 235px;
    height: auto;
    margin: 0;
}
.alink{
    position: relative;
    z-index: 9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    width: 100%;
    height: 100%;
}
.alink img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 235px;
}
.alink u{
    height: 358px;
    /* 以上是行内样式 */
    position: absolute;
    top: 0;
    left: 0;
    width: 235px;
    min-height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0!important;
    border: 1px solid #e0e0e0;
    font-style: normal;
    text-decoration: none;
}
.boxTxt{
    padding: 14px 0;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #e0e0e0;
}
.title{
    padding: 0 14px;
    clear: both;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all;
}