*{
    margin:0;
    padding:0;
    }
ul li{
   list-style:none;
   }
a{
   text-decoration:none;
   }
i,em{
   font-style:normal;
   }
h1,h2,h4,h3,h5,h6,b,strong{
   font-weight:normal;
   }
img{
   border:0;
   display:block;
   }
input{
   outline:none;
   }
