*{
    padding: 0;
    margin: 0;
}
/*头部导航栏*/
header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
.nav{
    height: 100%;
    width: 1190px;
    margin: auto;
}
.nav-left{
    float: left;    
}
.nav-left p{
    height: 30px;
    font-size: 12px;
    float: right;
    line-height: 30px;
    text-align: center;
    margin-left: 200px
}
.nav-left p i{
    display: inline-block;
    vertical-align:middle;
    width: 20px;
    height: 20px;
    background-image: url('https://upload-images.jianshu.io/upload_images/18473161-c0457639f436613c.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-right{
    float: right;
}
.nav-right li{
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 0 7px;
    line-height: 30px;
}
.nav-right li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:#999;
    font-size: 12px;
}
.nav-right .spe-li{
    padding: 0;
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.nav-right li .a-red{
    color: #f10215
}
.nav-right .nav-red:hover a{
    color: #f10215
}
.nav-right .icofunI{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('https://upload-images.jianshu.io/upload_images/18473161-46a79fece41d2e67.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle
}
/*搜索区域*/
.search{
    width: 100%;
    height: 140px;
    position: relative;
}
.search{
    width: 1190px;
    margin: 0 auto
}
.sea-img{
    box-shadow:0 -12px 10px rgba(0,0,0,.2);
    width: 190px;
    height: 170px;
    position: absolute;
    z-index: 1;
    top:-31px;
    background-image: url('https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png');
    background-repeat: no-repeat;
}
.sea-sea{
    height: 60px;
}
.sea-sea span{
    display: block;
    width: 19px;
    height: 15px;
    position: absolute;
    top: 35px;
    left: 785px;
    background:url('https://misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png')
}
.sea-sea input{
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    padding: 4px 44px 4px 4px;
    left: 320px;
    top: 25px;
    outline: none;
    position: absolute;
}
.sea-sea .sea-button{
    width: 50px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 820px;
    border: none;
    background: red;
    outline: none;
}
.sea-icont{
    background-image: url('https://upload-images.jianshu.io/upload_images/18473161-127115d39cd27b17.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240');
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 835px;
    top:33px;
}
.shop{
    width: 190px;
    height: 35px;
    position: absolute;
    right: 99px;
    top: 25px;
    background: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
}
.shop a{
    text-decoration: none;
    color: red;
}
.ci-count{
    position: absolute;
    top: 5px;
    left: 140px;
    right: auto;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
.shop-count{
    display: inline-block;
    width:20px;
    height: 20px;
    vertical-align: middle;
    background-image: url('https://upload-images.jianshu.io/upload_images/18473161-c53b35896e21f872.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.hotwords{
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
.hotwords a{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
    font-size: 12px;
    text-decoration: none;
}
.hotwords .style-red{
    color: #f10215;
    width: 70px;
}
.navitems{
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
}
.navitems a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.navitems li{
    float: left;
    margin-left: 25px;
}
.navitems ul{
    float: left;
    list-style-type: none;
    height: 40px;
}
.navitems-group1{
    width: 261px;
}
.navitems-group2{
    margin-left: 6px;
    width: 296px;
}
.navitems-group3{
    margin-left: 10px;
}
.spacer1{
    position: absolute;
    left: 260px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: -7px;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.spacer{
    position: absolute;
    left: 563px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: -7px;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.navitems a:hover{
    color: #f10215;
}