* {
    margin: 0;
    padding: 0;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #C9C9DD;
}

li {
    list-style: none;
}

body {
    font-size: 14px;
    line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: normal;
}

em,
i {
    font-style: normal;
}
img{
    border: none;
}