.main{
    width: 1190px;
    margin: 0 auto;
    position: relative;
}
.mod_container{
    background-color: #f0f3ef;
    height: 3000px;
}
.hid{
    display: none;
}
.fl_r{
    float: right;
}
.fl_l{
    float: left;
}

.t_header{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
.head_m{
    height: 30px;
    background: #eee;
}
.addr_sup{
    margin-left: 200px;
    position: relative;
}
.address{
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
}
.cw-icon,.dt{
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
.nav_text{
    color: #999;
}
.hid_list{
    background-color: #fff;

}
.cho_addr{
    width: 422px;
    height: 438px;
}
.addr_sup:hover .address{
    background-color: #fff;
    border-bottom: none;
    padding-bottom: 2px;

}
.cho_addr{
    position: absolute;
    top:30px;
    left: 0;
    width: 300px;
    height: 416px;
    padding: 10px;
    border: 1px solid #e3e4e5;

}
.cw-icon:hover{
    padding-bottom: 2px;
    border-color: #ccc;
    border-bottom: none;
    background-color: #fff;
}
.addr_sup:hover .cho_addr{
    display: block;
}
.fl_r li{
    float: left;
    line-height: 30px;
}
.style-red{
    color: #f10215;
}
.ttbar_log_reg{
    margin-right: 8px;
}
.top-li-a{
    font-size: 12px;
    display: inline-block;
    /* float: left; */
}
.dt{
    padding: 0 7px;
    color: #999;
    font-size: 12px;
}


.space{
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}


#header{
    width: 100%;
    height: 140px;
    background-color: #ddd;
}

.fs{
    width: 100%;
    height: 480px;
    background-color: #eee;
}
