*{
    padding: 0;
    margin: 0;
}

.content{
    margin: 50px auto;
    overflow: hidden;
    width: 1000px;
    height: 250px;
    position: relative;
}
.wrapper{
    width:5000px;
    height: 250px;
    position: absolute;
    left: 0;
}
.wrapper div{
    float: left;
    position: relative;
}
#left{
    width: 60px;
    height: 60px;
    background: url("https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 95px;
    left: 0;
    /* z-index: 99; */

}
#right{
    width: 60px;
    height: 60px;
    background: url("https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2") no-repeat;
    background-size: 100%;
    position: absolute;
    top:95px;
    /* z-index: 99; */
    right: 0;
}
.shunxun{
    width: 250px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 0;
}
.shunxun div{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}


/* ceshi */
.wrapper span{
    position: absolute;
    color: aqua;
}
