*{
      margin: 0;
      padding: 0;
}
h1{
      text-align: center;
}
.container{
      width: 1000px;
      /* -- 行内样式 -- */
      line-height: 1.5;
      zoom: 1;
      overflow: hidden;
      /* visibility: hidden; */
      margin-left: auto;
      margin-right: auto;
      position: relative;

}

.wrapper{
      height: auto;
      border-top: 0 none;
      background-color: #fff;
      border-radius: 2px;
     
}
.box{
      border-bottom: 1px solid #e0e0e0;
      width: 235px;
      padding: 0;
      border-radius: 2px 2px 0 0;
      float: left;
      margin-left: 15px;
      box-sizing: border-box;
}
.box-img{
      height: 264px;
      /* 行内样式*/
      position: relative;
      min-height: 100px;
}
.box-img img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 235px;
}
.box-img u{
      height: 264px;
      /* 行内样式 */
      position: absolute;
      top: 0;
      left: 0;
      width: 235px;
      min-height: 100px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 0!important;
      border: 1px solid #e0e0e0;
}
.box-detail{
      padding: 14px 0;
      border-width: 0 1px 0 1px;
      border-style: solid;
      border-color: #e0e0e0;
}
.box-detail .title{
      padding: 0 14px;
      clear: both;
      overflow: hidden;
      margin: 0;
      font-size: 14px;
      color: #444;
      word-wrap: break-word;
      word-break: break-all;
}
