@charset "utf-8";
/* CSS Document */
body,p,td,th,fieldset,legend,option,textarea,button,hr,input,h1,h2,h3,h4,h5,h6,ol,ul,dd,dl{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;color:black;}
i,em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{border:none;display:block;}
input{outline:none;}
body{font-family:"微软雅黑";font-size:12px;color:#666;}
