#box{
    width: 500px;
    height: 300px;
    background: tan;
    margin: 40px auto;
    background-image: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=158639961,3740107265&fm=26&gp=0.jpg)
}