body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
input,
ol,
dl,
dd,
fieldset,
textarea,
select,
option,
td,
th,
hr {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a,
u {
    text-decoration: none;
}

img {
    border: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: normal;
}

body {
    color:#666;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}

input,
area {
    outline: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.border0 {
    border: none;
}

.w1190 {
    width: 1190px;
    margin: 0 auto;
}


/* header */
.header{
    width:100%;
    height:30px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

.header-center{
    height:100%;
    position: relative;
}
.logo{
    width:190px;
    height:170px;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
    background: url("https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png");
}
.logo:hover{
    background:#fff url("http://img1.360buyimg.com/da/jfs/t1/16134/5/11584/77878/5c90a4bdE5ae12937/38714fb6679b8daf.gif?v=0.5440281832514775");
}

.location{
    height:30px;
    width:80px;
    margin-left: 200px;
    line-height: 30px;
    float:left;
}
.lo-icon{
    font-size: 14px;
    color: #f10215;
    margin-right: 4px;
}
.lo-font{
    color: #999;
}
.nav{
    height:100%;
    float:right;
    line-height: 30px;
}
.nav li{
    float:left;
    margin:0 10px;
}
.nav li a{
    color: #999;
}
.nav li.spacer{
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.nav .color-red{
    color: #f10215;
}
.nav .register{
    margin-left: 5px;
}

.main{
    width:100%;
    height:2000px;
    background: #f0f3ef;
    position: relative;
}

/* 搜索 */
.search{
    width:550px;
    height:35px;
    position: absolute;
    left: 380px;
    top: 25px;
}
.search_input{
    left: 0;
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
    background:#fff;
    position: relative;
}
.search_button{
    width:40px;
    height:35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
}
.search_button span{
    font-size: 25px;
    font-weight: 700;
}
.camera{
    font-size:25px;
    position: absolute;
    left:460px;
}

/* 购物车 */
.cart{
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    position: absolute;
    left:980px;
    top:25px;
    border: 1px solid #e3e4e5;
}
.cart_icon{
    margin-right: 3px;
    font-size: 16px;
    color: #f10214;
}
.color-red{
    color: #f10214;
}
.cart_bottom{
    overflow: hidden;
    position: absolute;
    left: 380px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
.cart_bottom li{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
.cart_bottom li a{
    color: #999;
}
.cart_bottom li .cart_tottom_first{
    color: #f10214;
}