*{
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    height: 200px;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    background: #ddd;
    overflow: hidden;
}

.wrapper{
    width: 3000px;
    height: 200px;
    background:yellowgreen;
    position: absolute;
    left: 0;
}
.slider{
    width: 500px;
    height: 200px;
    float: left;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
}

.next,.prev{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 999;
}
.next{
    background: url("https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2");
    background-size: 100%;
    background-position: center;
    right: 0;
}
.prev{
    background: url("https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2");
    background-size: 100%;
    background-position: center;
    left: 0;
}

.page{
    position: absolute;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: red ;
}
.page span{
    background: #fff;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
}