body{
    background: lightgray;
}
.w1190{
    width: 1190px;
    margin: 0 auto;
}
/* 头 */
.hide{
    height: 80px;
    width: 100%;
    margin: 0 auto;
    background: #f6f5f4;
}
.hide span{
    width: 20px;
    height: 20px;
    background: #ddd;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 206px;
    font-size: 30px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    cursor: pointer;
}
.hide  a{
    width: 1190px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
/* 导航 */
.nav{
    background: #e3e4e5;
}
.nav .w1190{
    height: 30px;
    position: relative;
}
.nav .w1190 h1{
    width: 190px;
    height: 170px;
    position: absolute;
    top: 0;
    left:0 ;
    transition:  left 0.2s;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png)
}
.nav .w1190 h1:hover{
    background: url(https://img1.360buyimg.com/da/jfs/t1/16134/5/11584/77878/5c90a4bdE5ae12937/38714fb6679b8daf.gif?v=0.4061590679023295) #fff;
}
.nav .w1190 .reder{
    position: absolute;
    left: 200px;
    color: #999;
    line-height: 30px;
    padding: 0 5px;
    display: inline-block;
}
.nav .w1190 .reder .iconfont{
    font-size: 14px;
    color: #f10215;
    margin-right: 4px;
    
}
.nav .w1190 .reder:hover{
    background: #fff;
}
.nav .w1190 .reder:hover .place{
    display: block;
}
.nav .w1190 .place{
    display: none;
    width: 320px;
    position: absolute;
    top: 30px;
    left: 0px;
    background: #fff;
    height: 450px;
    z-index: 4;
} 
.nav .w1190 .place .places li{
    width: 20%;
    margin: 0 0;
    text-align: center;
}
.nav .w1190 .place .places{
    margin: 0 20px;
    overflow: hidden;
    border-bottom: 1px solid #f6f5f4;
}
.nav .w1190 .place p{
    margin:10px 20px;
}
.nav .w1190 .place p a:hover{color: #e33333;}
.nav .w1190 .place dl{ 
    border-top: 1px solid #f6f5f4;
    margin: 0 20px;
}
.nav .w1190 .place dt{margin: 5px 0;}
.nav .w1190 .place dd{float: left;width: 50%;}
.nav .w1190 .place dd:hover{color: #e33333;}

.nav .w1190 .a {
    float: right;
}
.nav .w1190 .a .iconfont{
    /* position: absolute;
    right: 5px;
    top: 10px; */
    font-size: 1px;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.nav .w1190  ul>li{
    float: left;
    margin: 0 10px;
    line-height: 30px;
    
}
.nav .w1190  ul i{
    border-right: 1px solid #999;
    margin-left: 14px;
    height: 12px;
}
.nav .w1190  ul a:hover{
    color: #f10215;
}
 .nav1 i,.nav5 a{
    color: #f10215;
}
.nav .w1190 .nav4 a:hover{
    color: #e33333;
}
.nav3::after,.nav3::after,.nav3::after,.nav3::after{
    content: "";
}

/* 搜索部分 */
.search {background: lightcyan;}
.search .w1190{height: 140px;}
.search .sea{padding: 30px 0 0 300px;height: 35px;width: 502px; position: relative;}
.search .sea .camera {width: 19px;height: 15px;position: absolute;top: 41px;right: 63px;
    background: url(https://misc.360buyimg.com/product/search/1.0.4/css/i/sprite-photo-search.png) no-repeat;}
.search .sea .camera:hover{background-position:-30px 0px;;}
    .search .sea .in{width: 450px;height: 35px;border: 1px solid transparent;font-size: 14px;line-height: 25px;background: #fff;
    float: left;}
.search .sea .btn{float:left;height: 37px;width: 50px;border: 1px solid transparent;background: #f10215;} 
.search .sea .iconfont{position: absolute;top: 39px;right: 16px;width: 20px;height: 21px;font-size: 21px;color: #fff;}
.car {position: absolute;left: 1020px; width: 195px;height: 36px;line-height: 36px;text-align: center;z-index: 5;border: 1px solid #999;
    float: left;background: #fff;margin:-35px 0 0 50px;color:#f10214; }
.car   .iconfont{color:#f10214;}
.car:hover .zz{display: block;}
.car .zz{width: 247px;height: 68px;position: absolute;top: 37px;left: -105px;line-height: 68px;font-size: 12px;padding-left: 53px;display: none;
    background: url(https://img11.360buyimg.com/uba/jfs/t3571/299/131233948/1117/a1196554/58004d6dN2927f0f7.png) no-repeat 32px  8px #fff;
    box-shadow: 0 0 5px;}
.ma{position: absolute;right: 197px;top: 110px;width: 60px;height: 60px;background-size: 59px 59px;border: 1px solid #999;padding: 4px;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/mobile_qrcode.png)no-repeat 4px 4px #f6f6f6;}
.ma::before{content: "";width: 0px;height: 0px;border-bottom: 4px solid #fff;border-left: 4px solid transparent;border-right: 4px solid transparent;
    position: absolute;top:-4px ;left:28px ;}
.small-nav{float: left;margin-left: 300px;margin-bottom: 24px;}
.small-nav li{float: left;height: 20px;line-height: 20px;margin-right: 5px;}
.small-nav li.bian{margin-right: 15px;}
.big-nav{float: left;clear: both;font-size: 14px;margin-left: 240px;}
.big-nav li{float: left;margin-right: 15px;}

/* 主题类目 */
.category { background: lightcyan;}
.category .w1190{
    height: 480px;
    margin-bottom: 30px;
}
.category .w1190 .cate{
    background: #fff;
    float: left;
    width: 190px;
    height: 475px;
    padding-top: 5px;
    border-top: 1px solid #f6f5f4;
}
.category .w1190 .cate li{
    height: 26px;
    margin-left: 15px;
    line-height: 26px;
}
.category .w1190 .cate li a:hover{
    color: #c81623;
}
.category .w1190 .discount{
    float: left;
    margin: 0 10px;
}
.category .w1190 .discount .dis{
    margin-top: 10px;
}
.category .w1190 .discount .dis:hover{
    opacity: 0.5;
}
.category .w1190 .report{
    float: left;
    width: 190px;
    height: 470px;
    margin-top: 10px;
    background: #fff;
}
.category .w1190 .report .reg{
    width: 190px;
    height: 140px;
}
.category .w1190 .report .reg img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 0 15px;
    position: relative;
    top: -8px;
    left: 65px;
}
.category .w1190 .report .reg p{
    width: 110px;
    height: 14px;
    line-height: 14px;
    margin: 0 auto;
    color: #888;
}
.category .w1190 .report .reg .log{
    text-align: center;
}
 .reg .log a:hover{
    color: #c81623;
}
.reg .gv {text-align: center;margin-top: 5px;}
.reg .gv  .good{
    line-height: 25px;
    text-align: center;
    display: inline-block;
    width: 72px;
    height: 25px;
    background:#fff ;
    color: #e01222;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.reg .gv  .good:hover{
    background: #e01222;
    color: #fff;
}
.reg .gv  .vip{
    line-height: 25px;
    text-align: center;
    display: inline-block;
    width: 72px;
    height: 25px;
    background:#363634 ;
    color: #e5d790;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.reg .gv  .vip:hover{
    background: #e01222;
    color: #fff;
}
.category .w1190 .report .jdnew{
    width: 160px;
    height: 130px;
    padding: 0 15px;
}
.jdnew dt{
    float: left;
    font-size: 13px;
    color: #1e1e1e;
    font-weight: bold;
}
.jdnew dd{
    float: right;
}
.jdnew ul{
    height: 95px;
    float: left;
    margin-top: 15px;
    border-bottom: 1px  solid #888;
}
.jdnew li{
    clear:both;
    height: 21px;
    line-height: 21px;
}
.jdnew li:hover a{
    color: #c81623;
}
.jdnew li i{
    display: inline-block;
    background: #e47f7f;
    color: #fff;
    width: 35px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
    margin-right: 6px;
}
.jdnew li a{
    display: inline-block;
    color: #999;
    width: 150px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.category .w1190 .report .service{
    width: 190px;
    height: 194px;
    padding: 18px 11px 11px;
}
.service li{
    float: left;width: 42px;height: 55px;
    text-align: center;
}
.service li:hover a{
    color: #c81623;
}
.service li a{
    display: inline-block;
}

/* 倒计时 */
.countdown{
    margin-bottom: 30px;
    background: lightcyan;
}
.countdown .w1190{

    height:275px;
}
.spike{
    width: 150px;
    height: 220px;
    float: left;
    display: block;
    background: #e83632;
    padding: 40px 20px 15px  20px;
    text-align: center;
}
.spike .jd1{
    font-size: 34px;
    color: #fff;
}
.spike .jd2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.spike .jd3{
    width: 20px;
    height: 30px;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.seckill.png) no-repeat  -35px -25px   ;
    background-color: #ddd;
    margin: 13px auto;
}
.spike .jd4{
    font-size: 16px;
    color: #fff;
}
.spike .spk{
    width: 135px;
    height: 40px;
    margin: 0 auto;
    margin-top: 25px;
}
.spike .spk div{
    height: 40px;
    width: 40px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    background: #2f3430;
    float: left;
    line-height: 40px;
    color: #fff;
    position: relative;
    z-index: 2;
}
.spike .spk div:after{
   
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e83632;
    position: absolute;
    top: 50%;
    left: 0;
}
.dd img{
    margin: 40px auto  15px;
}
.dd p{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 15px;
    margin-bottom: 15px;
}
.dd dl{
    width: 190px;
    padding: 0 15px;
}
.dd dt{
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    background: #e6382f;
    border: 1px solid #e6382f;
    color: #fff;
}
.dd dd{
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
   text-decoration: line-through;
   border: 1px solid #e6382f;
}

.container1{
   
    float: left;
    width:800px;
    height: 275px;
    position: relative;
    overflow: hidden;
}
.wrapper1{
    width: 5600px;
    height: 100%;
    position: relative;
    background: #fff;
}
.slide1{
    width: 800px;
    height: 100%;
    float: left;
}
.dd{
    width: 190px;
    height: 275px;
    float: left;
    padding: 0  5px 0 4px;
    border-right: 1px  solid  #f0f0f0;
}
.slide-active{
    z-index: 1;
}
.button-next1,.button-prev1{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 999;
}
.button-next1{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
    background-size: 100%;
    background-position: center;
    right: 0;
}
.button-prev1{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2);
    background-size: 100%;
    background-position: center;
    left: 0;
}

/* 双图戏猪 */
.slide2 a{
    display: block;
    position: relative;
}
.slide2 a:after{
    content: "";
    width: 12px;
    height: 12px;
    background: url(https://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sk_arrow@1x.png);
    background-size: 12px 12px;
    position: absolute;
    top: 1px;
    left: 109px;
}
.slide2 a .tit div{
    width: 62px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin: 10px 0  10px 42px;
    font-size: 14px;
    font-weight: bold;
}
.slide2 a .big{
    margin: 0 auto;
}
.slide2 a .small{
    position: absolute;
    top: 140px;
    left: 60px;
    border-radius:5px;
}
.slide2 a  .foot{
    color: #fff;
    padding-top: 20px;
    width: 180px;
    height: 62px;
    background: #8fb4cb;
}
.slide2 a  .foot .up{
    
    width: 180px;
    text-align: center;
    font-size: 14px;
}
.slide2 a  .foot .down{
    margin-top: 4px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.down2{
    background-image: url(https://img10.360buyimg.com/img/jfs/t1/19991/28/14831/2834/5cab1971E808f7fe2/14bde026c1c107fa.png) no-repeat;
}
.container2{
   
    float: left;
    width:200px;
    height: 275px;
    position: relative;
    overflow: hidden;
}
.wrapper2{
    width: 600px;
    height: 100%;
    position: relative;
    background: #fff;
}
.slide2{
    width: 180px;
    height: 100%;
    float: left;
    padding: 0 10px;
}
.slide-active{
    z-index: 1;
}
.button-next2,.button-prev2{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 999;
}
.button-next2{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
    background-size: 100%;
    background-position: center;
    right: 0;
}
.button-prev2{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2);
    background-size: 100%;
    background-position: center;
    left: 0;
}
.pagination2{
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
}
.pagination-bullets{
  bottom: 10px;
  left: 0;
  width: 100%;
}
.pagination-bullet2{
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
  margin: 0 2px;
}
.pagination-bullet-active{
    opacity: 1;
    background: #007aff;
}
/* fade专用样式 */
.container.container-fade .slide{
    position: absolute;
}

.container.container-slide .wrapper{
    display: flex;
}
/* lunbo */

 .container{
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width:590px;
    height: 470px;
    position: relative;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
}
.slide-active{
    z-index: 1;
}
.button-next,.button-prev{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 999;
}
.button-next{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/right_arrow.svg?v=2);
    background-size: 100%;
    background-position: center;
    right: 0;
}
.button-prev{
    background: url(https://static.zcool.cn/git_z/z/widget/slider/images/svg/left_arrow.svg?v=2);
    background-size: 100%;
    background-position: center;
    left: 0;
}
.pagination{
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  -o-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
}
.pagination-bullets{
  bottom: 10px;
  left: 0;
  width: 100%;
}
.pagination-bullet{
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
  margin: 0 2px;
}
.pagination-bullet-active{
    opacity: 1;
    background: #007aff;
}
/* fade专用样式 */
.container.container-fade .slide{
    position: absolute;
}

.container.container-slide .wrapper{
    display: flex;
}


/* 排行 */
.ranking{
    margin-bottom: 30px;
    background: lightcyan;
}
.ranking .w1190{
    height: 480px;
}
/* 排行榜 */
.list{
    width: 390px;
    height: 450px;
    margin-right: 10px;
    background: #fff;
    float: left;
}
.ranking  .top{
    width: 350px;
    height: 44px;
    padding:  8px 20px;
    background: #007aff;
}
.ranking  h3{
    color: #000;
    float: left;
    font-size: 22px;
    line-height: 44px;
    width: 95px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 72px  12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAklEQVR4AewaftIAAAHiSURBVJXBvUuUcQAA4MefclJIGmWDUGr9CU72ZZwEgjYoHIH2MbUUIQTpFHdj2hBK/QFSQtCpSEc1lCIF1trUIhaGgwhd4hAHaoIHYr73nj5PxVJLixICkuhBK5pQhzx+YB6TmMGmCFWidWEIBbzEGJawipM4jQt4ggQGkfOfKnslMIqreIgpbNlrGcv4iqfoxgiu4T4KioJdCUyjCS2YxJZ4W5hECxoxjYSiYNczFNCJvL1qxcujEwU8VxTs6MQV9GHDfq+QFm8DfbiMLtsCAobQj3XRbiOFtHjr6McwQkASBbxT2gqSSCEt3nv8RXtAD8aVt4IkUkiLN47ugPP47GBWkEQKaaXNoTWgEUsObgVJpJAWbQHNAXVYdThbdlSI9hu1AXmccHD1mEUWGdGO40/AT5xxMPWYRRYZpZ3FYsA8LiqvHrPIIiNeG74ETKBXvFOYRRYZ5fViKmAGR9ChtDFkkVFeB47iQ8AmBjCKGtGuI6O8GoxgEJvBjhzmMI5K+60prxLj+IQ3tgW77iGBHGodTi1yqMZdRZUPGhoUbeA1LuExfuG7eBXowQS+4QYKiqrsVcAddGEYj/ACc1hAHnU4hzbcRDX6kfOfKtFyeIt29OAWmnEMa1jEPAbwEZsi/APwnHjX1+uAaQAAAABJRU5ErkJggg==) ;
}
.ranking  span{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    color:#999;
    float: left;
    margin-left: 10px;
    display: inline-block;
    padding-top: 12px;
}
.list .top h3{

}
.list .nav{
    background: #f7f7f7;
    width: 390px;
    height: 34px;

}
.list .nav li{
    width: 78px;
    height: 34px;
    float: left;
    line-height: 34px;
    text-align: center;
}
.list .nav li:hover a{
    color: #e33333;
}
/* 会买专辑 */
.album{
    width: 390px;
    height: 450px;
    margin-right: 10px;
    background: yellow;
    float: left;
}
.album .top h3{
    width: 116px;
    background-position: 92px  12px;
}
/* 领券 */
.coupon{
    width: 390px;
    height: 450px;
    background: yellowgreen;
    float: left;
}
.coupon .top h3{
    width: 116px;
    background-position: 92px  12px;  
}