 * {
     margin: 0;
     padding: 0;
 }

 header,
 footer {
     height: 600px;
     background: #ddd;
     font-size: 100px;
     color: #fff;
     line-height: 600px;
     text-align: center;
 }

 div[class*=box] {
     height: 1000px;
     box-sizing: border-box;
     border: 5px solid #ddd;
     color: #fff;
     font-size: 100px;
     line-height: 1000px;
     text-align: center;
 }

 footer {
     height: 800px;
     background: yellowgreen;
 }

 .stairs {
     position: fixed;
     top: 75%;
     right: 5%;
     /* margin-right: 598px; */
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding: 0;
     background: #fff;
     -webkit-box-shadow: 0 0 3px 0 #ddd;
     box-shadow: 0 0 3px 0 #ddd;
     z-index: 110;
     -webkit-transform: scale(0);
     -ms-transform: scale(0);
     transform: scale(0);
     visibility: hidden;
     -webkit-transition: all .2s linear;
     transition: all .2s linear;
 }

 .stairs span {
     display: block;
     padding: 5px 10px;
     color: #666;
     -webkit-transition: all .2s linear;
     transition: all .2s linear;
     background: #f6f6f6;
     cursor: pointer;
 }

 .stairs span.active {
     color: #f10;
     font-weight: 700;
 }

 .show {
     -webkit-transform: scale(1);
     -ms-transform: scale(1);
     transform: scale(1);
     visibility: visible
 }

 .bg0 {
     background-color: #ff0;
 }

 .bg1 {
     background-color: #f00;
 }

 .bg2 {
     background-color: #000;
 }

 .bg3 {
     background-color: #f0f;
 }

 .bg4 {
     background-color: #0ff;
 }

 .bg5 {
     background-color: #00f;
 }

 .bg6 {
     background-color: rgb(123, 18, 209);
 }

 .bg7 {
     background-color: rgb(150, 231, 1);
 }

 .bg8 {
     background-color: rgba(231, 246, 19);
 }

 .bg9 {
     background-color: #ccff9a;
 }

 .bg10 {
     background-color: #ff6634;
 }

 .bg11 {
     background-color: #ffcc01;
 }

 .bg12 {
     background-color: #99ffff;